<div id="modal-overlay">
	<%= simple_form_for @message, remote: true do |f| %>
		<%= f.input :emotion, collection: ["Overjoyed", "Happy", "Confused", "Annoyed"], label: "How do you feel?" %>
		<%= f.input :message_type, collection: ["I have feedback!", "Something is wrong!", "I don't understand something!"], label: "What can we help you with?" %>
		<%= f.input :content, label: "Type your message here...", required: false %>
		<%= button_tag(type: "submit", data: {disable_with: raw("<i class='fa fa-spin fa-spinner'></i>")}) do %>
			Send Message
		<% end %>

		<!-- exit this form -->
		<span class="exit-form"><i class='fa fa-times'></i></span>
	<% end %>
</div>