<% if @saved %>
	//clear and remove form
	$("#new_message").parent("#modal-overlay").fadeOut(function(){
		$("#new_message").parent("#modal-overlay").remove();
	});

	//alert user that message has been sent
	if($(".alert")[0]){
		$(".alert").remove();
	}
	$("#header").after("<div class='alert alert-success'>We received your message! We will contact you in less than 12 hours.</div>");
<% else %>
	//alert user that there's a problem
	if(!$("#new_message .alert")[0]){
		$("#new_message").prepend("<div class='alert alert-danger'>Please fill out your message correctly.</div>");
	}
<% end %>