<div id="modal-overlay">
	<%= simple_form_for current_user, url: confirm_password_user_path(current_user), html: {id: "confirm-password"}, remote: true do |f| %>
	  <%= password_field_tag "password", nil, placeholder:"Enter Password" %>
	  <%= submit_tag "Confirm Password" %>

	  <!-- exit this form -->
		<span class="exit-form"><i class='fa fa-times'></i></span>
	<% end %>

	<!-- create new employee -->
	<%= simple_form_for @employee, remote: true, html: {class: "hide edit_employee"} do |f| %>
		<%= f.input :name, placeholder: "Employee Name", label: false %>
		<%= f.input :phone, placeholder: "Phone Number", label: false %>
		<%= f.input :pay_rate, placeholder: "Pay Rate ($/hr)", label: false %>
		<%= f.submit "Update Employee" %>

		<!-- exit this form -->
		<span class="exit-form"><i class='fa fa-times'></i></span>
	<% end %>
</div>