<div id="timesheet" class="timesheet-<%= @employee.id %>">
	<div class="exit-timesheet">
		<span class="employee-name"><%= @employee.name %></span>

		<i class='fa fa-times'></i>

		<div style="clear:both;"></div>
	</div>

	<% if !@employee.checkins.where("finish IS NULL").any? %>
		<%= render 'checkins/new_checkin' %>
	<% else %>
		<%= render 'checkins/check_out' %>
	<% end %>

	<% if @checkins.any? %>
		<table id="checkin-list">
			<tr>
				<th>Date</th>
				<th>Start</th>
				<th>Finish</th>
				<th>Total</th>
			</tr>
			<%= render @checkins %>
		</table>

		<% if @employee.checkins.count > @checkins.count %>
			<%= link_to show_more_checkin_path(@checkins.last), remote: true, class: "show-more" do %>
				Show More <i class='fa fa-caret-down'></i>
			<% end %>
		<% end %>
	<% end %>

	<%= link_to "Edit Settings", edit_employee_path(@employee), remote: true, class: "edit-employee-link" %>
</div>