<% if @saved %>
	//clear new employee form and hide
	$("#new_employee")[0].reset();
	$("#modal-overlay").fadeOut();

	//add new employee to employee list
	$("#employee-list").prepend("<%= j render @employee %>");

	//update title
	$("title").html("Incrediclean | <%= pluralize(@employee.user.employees.count, 'employee') %>");
<% end %>