//exit out of previous timesheet if there's one open
if($("#timesheet")[0]){
	$("#timesheet").prev(".employee").show();
	$("#timesheet").remove();
}
//hide employee link
$(".employee-<%= @employee.id %>").hide();
//load employee timesheet
$(".employee-<%= @employee.id %>").after("<%= j render 'employees/timesheet' %>");

//scroll to top of newly loaded timesheet
$('html, body').animate({
	scrollTop: $(".timesheet-<%= @employee.id %>").offset().top
}, 150);