<% if @updated %>
	//remove edit employee form
	$(".edit_employee").parent("#modal-overlay").fadeOut(function(){
		$(".edit_employee").parent("#modal-overlay").remove();
	});

	//replace updated employee
	$(".employee-<%= @employee.id %>").replaceWith("<%= j render @employee %>");
	$(".employee-<%= @employee.id %>").hide();
	$("#timesheet").replaceWith("<%= j render 'employees/timesheet' %>");
<% end %>