<div class='chart-header'>
	Revenue 
	<span>$<%= number_with_delimiter(@revenue_total.to_i, delimiter: ',') %></span>
</div>

<div id="revenue-chart"></div>

<div class='chart-header'>
	Workload 
	<span><%= pluralize(number_with_delimiter(@workload_total, delimiter:','), "item") %></span>
</div>

<div id="workload-chart"></div>

<script>
//revenue chart

function highCharts() {
	<% if @orders.any? %>
		Highcharts.setOptions({
	    global : {
	        useUTC : false
	    }
	  });

	  new Highcharts.Chart({
	    chart: { 
	    	renderTo: 'revenue-chart',
	    	backgroundColor: 'whitesmoke',
	    },
	    title: { text: '' },
	    xAxis: {
	      type: 'datetime',
	    },
	    yAxis: {
	      title: { text: '' },
	      min: 0,
	      labels: {
	        formatter: function(){
	          return '$'+this.value;
	        }
	      }
	    },
	    credits: {
		    enabled: false
		  },
	    tooltip: {
	      formatter: function () {
	      	<% if @weekly_time_difference <= 2 %>
		        return Highcharts.dateFormat("%B %e, %Y", this.x) + ': ' +
		          '$' + Highcharts.numberFormat(this.y, 0);
		      <% elsif @weekly_time_difference <= 10 %>
		      	return Highcharts.dateFormat("%B %e, %Y", this.x) + ' (1 week)' + ': ' +
		          '$' + Highcharts.numberFormat(this.y, 0);
		      <% elsif @yearly_time_difference <= 2 %>
		      	return Highcharts.dateFormat("%B %e, %Y", this.x) + ' (1 month)' + ': ' +
		          '$' + Highcharts.numberFormat(this.y, 0);
		      <% else %>
		      	return Highcharts.dateFormat("%B %e, %Y", this.x) + ' (1 year)' + ': ' +
		          '$' + Highcharts.numberFormat(this.y, 0);
		     	<% end %>
	      }
	    },    

	    series: [{
	    	showInLegend: false,
	    	color: 'rgb(61, 215, 121)',
	    	pointStart: <%= @orders.last.created_at.to_i * 1000 %>,

	    	<% if @weekly_time_difference <= 2 %>
	    		//show by day
		      pointInterval: <%= 1.day * 1000 %>,
		      data: <%= (0..@daily_time_difference).map { |day| @user.total_volume_by_day(day, @start_date).to_f}.inspect %>
		    <% elsif @weekly_time_difference <= 20 %>
		    	//calculate by 1 week interval
		    	pointInterval: <%= 1.week * 1000 %>,
		      data: <%= (0...@weekly_time_difference).map { |week| @user.total_volume_by_week(week, @start_date).to_f}.inspect %>
		    <% elsif @yearly_time_difference <= 2 %>
		    	//show by 1 month interval
		    	pointInterval: <%= 1.month * 1000 %>,
		      data: <%= (0...@monthly_time_difference).map { |month| @user.total_volume_by_month(month, @start_date).to_f}.inspect %>
		    <% else %>
		    	//show by 1 year interval
		    	pointInterval: <%= 1.year * 1000 %>,
		      data: <%= (0...@yearly_time_difference).map { |year| @user.total_volume_by_year(year, @start_date).to_f}.inspect %>
	      <% end %>
	    }]
	  });

	  new Highcharts.Chart({
	    chart: { 
	    	renderTo: 'workload-chart',
	    	backgroundColor: 'whitesmoke',
	    },
	    title: { text: '' },
	    xAxis: {
	      type: 'datetime',
	    },
	    yAxis: {
	      title: { text: '' },
	      min: 0,
	      labels: {
	        formatter: function(){
	          return '$'+this.value;
	        }
	      }
	    },
	    credits: {
		    enabled: false
		  },
	    tooltip: {
	      formatter: function () {
	      	<% if @weekly_time_difference <= 2 %>
		      	if(this.y == 1){
		        	return Highcharts.dateFormat("%B %e, %Y", this.x) + ': ' + Highcharts.numberFormat(this.y, 0) + ' item';
		      	}else{
		      		return Highcharts.dateFormat("%B %e, %Y", this.x) + ': ' + Highcharts.numberFormat(this.y, 0) + ' items';
		      	}
		      <% elsif @weekly_time_difference <= 20 %>
		      	if(this.y == 1){
		        	return Highcharts.dateFormat("%B %e, %Y", this.x) + ' (1 week): ' + Highcharts.numberFormat(this.y, 0) + ' item';
		      	}else{
		      		return Highcharts.dateFormat("%B %e, %Y", this.x) + ' (1 week): ' + Highcharts.numberFormat(this.y, 0) + ' items';
		      	}
		      <% else %>
		      	if(this.y == 1){
		        	return Highcharts.dateFormat("%B %e, %Y", this.x) + ' (1 month): ' + Highcharts.numberFormat(this.y, 0) + ' item';
		      	}else{
		      		return Highcharts.dateFormat("%B %e, %Y", this.x) + ' (1 month): ' + Highcharts.numberFormat(this.y, 0) + ' items';
		      	}
		      <% end %>
	      }
	    },    

	    series: [
	    <% @methods = ["launder", "dryclean", "other"] %>

	    <% @methods.each_with_index do |method, i| %>
		    {
		    	name: "<%= method %>",

		    	<% if i == 0 %>
		    		color: 'rgb(44, 61, 82)',
		    	<% elsif i == 1 %>
		    		color: 'rgb(146, 60, 175)',
		    	<% else i == 2 %>
		    		color: 'rgb(34, 125, 189)',
		    	<% end %>

		      pointStart: <%= @orders.last.created_at.end_of_day.to_i * 1000 %>,

		      <% if @weekly_time_difference <= 2 %>
		      	//calculate by day
			      pointInterval: <%= 1.day * 1000 %>,
			      data: <%= (0..@daily_time_difference).map { |day| @user.total_workload_by_day(day, @start_date, method).to_f}.inspect %>
			    <% elsif @weekly_time_difference <= 20 %>
			    	//calculate by week
			    	pointInterval: <%= 1.week * 1000 %>,
			    	data: <%= (0...@weekly_time_difference).map { |week| @user.total_workload_by_week(week, @start_date, method).to_f}.inspect %>
			    <% else %>
			    	//calculate by month
			    	pointInterval: <%= 1.month * 1000 %>,
			    	data: <%= (0...@monthly_time_difference).map { |month| @user.total_workload_by_month(month, @start_date, method).to_f}.inspect %>
			    <% end %>
		    },
		  <% end %>
		  ]
	  });
	<% end %>
}
</script>
