<div id="footer-alert" class="add-products hide">
	<i class='fa fa-check-circle'></i>
	<div id="alert-msg">
		<p>Great job adding an item to your customer's cart! To checkout now, click the big green button below that says "Checkout".</p>
		<p>After you click the "Checkout", you will be able to print the receipt. Make sure you set your printer receipt settings correctly.</p>
	</div>
	<div style="clear:both;"></div>
</div>