<div id="modal-overlay" class="hide new-customer-modal">
	<!-- create new customer -->
	<%= simple_form_for Customer.new, remote: true do |f| %>
		<%= f.input :name, placeholder: "Customer Name", label: false %>
		<%= f.input :phone, placeholder: "Phone Number", as: :string, label: false %>
		<%= f.hidden_field :user_id, value: @user.id %>
		<%= button_tag(type: "submit", data: {disable_with: raw("<i class='fa fa-spin fa-spinner'></i>")}) do %>
			+ Add Customer
		<% end %>

		<span class="exit-form">
			<i class='fa fa-times'></i>
		</span>
	<% end %>
</div>