<%= simple_form_for current_user, url: set_rack_user_path(current_user), remote: true, html: {id:"remember-rack-form"} do |f| %>
	<%= text_field_tag "rack", nil, placeholder: "What rack do you want to remember?" %>
	<%= submit_tag "Remember Rack" %>
	<!-- exit this form -->
	<span class="exit-form"><i class='fa fa-times'></i></span>
<% end %>