<% if @order %>
	<!-- list orders -->
	<div id="order-list">
		<% if !@order.picked_up %>
			<%= render partial:'orders/pick_up_order', locals: {order: @order} %>
		<% end %>
		<%= render @order %>
		<%= render partial: 'orders/order_details' %>
	</div>
<% end %>

<% if @customers.any? %>
	<!-- list customers -->
	<div id="customer-list">
		<%= render @customers %>
		<%= will_paginate @customers, :params => {:paginate => true} %>
	</div>
<% end %>

<% if !@customers.any? && !@order && @user.customers.any? %>
	<!-- if no search results -->
	<div id="no-results">
		No results...
	</div>
<% end %>