<%= form_tag root_path, method: :get, remote: true, class: "search-customers", 'autocomplete'=>'off' do %>
	<%= text_field_tag :query, params[:query], placeholder: "Search by customer name, order number, or tag...", class: "default-input search-field", autofocus: true, 'autocomplete'=>'off' %>
<% end %>