<div id="tagless-order-list">
	<% if @orders.any? %>
		<% @orders.each do |order| %>
			<%= link_to add_order_number_order_path(order), remote: true, class: 'tagless-order' do %>
				<div class="tagless-order-count"><%= pluralize(order.items.sum(:quantity), "item") %></div>
				<div class="tagless-order-date"><%= order.created_at.strftime("%b %_d, %Y") %></div>
				<div style="clear:both;"></div>

				<%= render partial: 'orders/receipt', locals: {receipt_order: order} %>
			<% end %>
		<% end %>
	<% end %>
</div>