<div id="modal-overlay">
	<%= render 'orders/tag_order' %>

	<!-- exit this form -->
	<div class="modal-footer">
		<% if @user.orders.tagless.any? %>
			<%= link_to "Oh no, I lost the receipt!", lost_receipt_user_path(@user), remote: true %>
		<% end %>
	</div>
</div>