//run highcharts with new data
$("#charts").html("<%= j render 'users/charts' %>");
highCharts();
//add any new alert message
if($('.alert-danger')[0]){
	$(".alert-danger").remove();
}

<% if @msg %>
	$(".date-search").before("<%= j render partial:'shared/alert_danger' %>");
<% end %>