<% provide(:title, "Analytics") %>

<div class='page-header'>
	<div class='header-h1'>Analytics</div>
	<ul class='page-header-links'>
		<!-- contact -->
		<li><%= render 'layouts/help_me' %></li>
	</ul>
</div>

<div class='inner-container'>
	<!-- search for analytics by date -->
	<%= form_tag user_analytics_path(@user), method: :get, remote: true, class: "date-search" do %>
		<%= text_field_tag :start_date, params[:start_date], placeholder: "Start date", 'data-behaviour' => 'datepicker', class: "default-input" %>
		<%= text_field_tag :end_date, params[:end_date], placeholder: "End date", 'data-behaviour' => 'datepicker', class: "default-input" %>

		<%= button_tag(type: "submit", class: "black-button", data: {disable_with: raw("<i class='fa fa-spin fa-spinner'></i>")}) do %>
			search
		<% end %>

		<div style="clear:both;"></div>
	<% end %>

	<!-- charts for revenue and workload -->
	<div id="charts">
		<%= render 'users/charts' %>
	</div>
</div>