<% if @correct %>
	//show form to edit employee
	$(".edit_employee:hidden").removeClass("hide");
	//remove confirm password
	$("#confirm-password").remove();
	//autofocus on edit employee name field
	$(".edit_employee #employee_name").focus();
<% else %>
	//remove previous alert notifications
	if($(".alert-danger")[0]){
		$(".alert-danger").remove();
	}
	//false password notification
	$("#confirm-password").prepend("<div class='alert alert-danger'>Wrong Password</div>");

	$("#confirm-password input[type='password']").val("").focus();
<% end %>