<% provide(:title, pluralize(@employees.count, "employee")) %>

<div class='page-header'>
	<div class='header-h1'>Employees</div>

	<ul class='page-header-links'>
		<!-- contact -->
		<li><%= render 'layouts/help_me' %></li>
		<!-- click button to show new employee form -->
		<li><div class="add-employee-button">+ New Employee</div></li>
	</ul>
</div>

<div id="user-employees-container" class='inner-container'>
	<div id="employee-list">
		<%= render @employees %>

		<div style="clear:both;"></div>
	</div>

	<div id="modal-overlay" class="hide">
		<!-- create new employee -->
		<%= simple_form_for Employee.new, remote: true do |f| %>
			<%= f.input :name, placeholder: "Employee Name", label: false %>
			<%= f.input :phone, placeholder: "Phone Number", label: false %>
			<%= f.input :pay_rate, placeholder: "Pay Rate ($/hr)", label: false %>
			<%= f.hidden_field :user_id, value: @user.id %>
			<%= f.submit "+ Add Employee" %>

			<!-- exit this form -->
			<span class="exit-form"><i class='fa fa-times'></i></span>
		<% end %>
	</div>
</div>