//show hidden section to rack order if it's hidden
if($(".rack-order:hidden")[0]){
	$(".rack-order:hidden").show();
	$("#remember-rack-form").remove();
}

//replace link to forget rack with link to remember rack
$(".forget-rack").replaceWith("<%= j render 'users/remember_rack' %>");

//autofocus on order number
$(".search-orders .default-input").focus();

//remove hidden rack number
$(".hidden-rack-number").remove();