<% provide(:title, pluralize(@products.count, "product")) %>

<div class='page-header'>
	<div class='header-h1'>Products</div>
	<ul class='page-header-links'>
		<!-- contact -->
		<li><%= render 'layouts/help_me' %></li>
	</ul>
</div>

<div id="index-products-container" class='inner-container'>

	<div id="modal-overlay" class="hide">
		<!-- create new customer -->
		<%= simple_form_for Product.new, remote: true do |f| %>
			<%= f.filepicker_field :img, button_class: "add-product-image", button_text: "Add Image", onchange: "onImageUpload()", services: "COMPUTER" %>
			<%= f.hidden_field :category_id, label: false %>
			<%= f.input :name, placeholder: "Product Name", label: false %>
			<%= f.input :cleaning_method, label: false, as: :select, collection: ["dryclean", "launder", "other"], include_blank:false %>
			<%= f.input :price, placeholder: "Price", label: false %>
			<div style="clear:both;"></div>
			<%= f.submit "+ Add Product" %>

			<!-- exit this form -->
			<span class="exit-form"><i class='fa fa-times'></i></span>
		<% end %>
	</div>

	<!-- divide products by category -->
	<div id="category-list">
		<% @categories.each do |category| %>
			<div class="category-name"><%= category.name %></div>

			<div class="product-list" id="category-<%= category.id %>">
				<!-- button to create new product -->
				<span class="add-product-button">Add Product</span>

				<!-- list all products -->
				<% @products.where(category_id: category.id).by_sales.each_with_index do |product, i| %>
					<%= render partial: 'products/product', locals: {product: product} %>

					<% if i%4==2 %>
						<div style="clear:both;"></div>
					<% end %>
				<% end %>

				<div style="clear:both;"></div>
			</div>

			<div style="clear:both;"></div>
		<% end %>
	</div>
</div>