<% if @saved %>
	//hide tutorial section
	$gateway_height = $('.tutorial-gateway').height();
	$(".tutorial-gateway").animate({height: "0"}, 500, function(){
		$(this).remove();
	});
	$yield_container_height = $gateway_height+$("#yield-container").height()-48;
	$("#yield-container").animate({height: $yield_container_height}, 500);

	//add alert under header
	$("#header").after("<div class='alert alert-success'>If you need to see the tutorial again, click the grey 'Tutorial' link at the bottom.</div>")
<% end %>