//hide default section to rack order
$(".rack-order").hide();
//load form to submit which rack number to remember
$(".rack-order").after("<%= j render 'users/remember_rack_form' %>");
//autofocus on rack number field
$("#remember-rack-form input[type='text']").focus();
//replace link to remember rack with a link to stop remembering rack
$(".remember-rack").replaceWith("<%= j render 'users/forget_rack' %>");