//add hidden rack order in
$(".rack-order").before("<div class='hide hidden-rack-number'><%= @rack_number %></div>");
//show hidden rack order
$(".rack-order").show();
//remove form to remember rack rack_number
$("#remember-rack-form").remove();
//autofocus on order number
$(".search-orders .default-input").focus();