//remove toolbar on search if it exists
if($(".toolbar")[0]){
	$(".toolbar").remove();
}

<% if @order %>

//if the order is already loaded, don't try to load it again
if(!$(".order-details-<%= @order.id %>")[0]){
	//replace results
	$("#results").html("<%= j render 'users/results' %>");
	//hide order if it's returned
	if($(".order")[0]){
		$(".order").hide();
	}
}

<% else %>

	//replace results
	$("#results").html("<%= j render 'users/results' %>");
	//hide order if it's returned
	if($(".order")[0]){
		$(".order").hide();
	}
<% end %>