<% provide(:title, pluralize(@user.customers.count, "customer")) %>

<!-- print receipt if present -->

<%= render 'layouts/preloaded_categories' %>

<div id="modal-overlay" class="productless-item-overlay">
	<%= simple_form_for Item.new, html: {class: 'productless-item-form'}, remote: true do |f| %>
		<%= f.hidden_field :category_id %>
		<%= f.hidden_field :customer_id %>
		<%= f.input :name, label: false, placeholder: "Name" %>
		<%= f.input :price, label: false, placeholder: "Price" %>
		<%= f.submit "+ Add Item" %>

		<span class="exit-form">
			<i class='fa fa-times'></i>
		</span>
	<% end %>
</div>

<div class='page-header'>
	<div class='header-h1'>Search customers and orders</div>

	<ul class='page-header-links'>
		<!-- contact -->
		<li><%= render 'layouts/help_me' %></li>
		<!-- click button to show new employee form -->
		<li><div class="add-customer-button">+ New Customer</div></li>
	</ul>
</div>

<div id="show-user-container" class='inner-container'>
	<!-- form to search for customers -->
	<%= render 'users/search_form' %>

	<!-- search results -->
	<div id="results">
		<%= render 'users/results' %>
	</div>

	<!-- form to create new customer -->
	<%= render 'users/new_customer' %>
</div>

<script>
$(document).ready(function(){
	//mixpanel tracking for homepage
	mixpanel.track("land on user show page (v1)");
});
</script>