<% provide(:title, "#{pluralize(@orders.count, "urgent order")}") %>

<div class='page-header'>
	<div class='header-h1'>Urgent orders</div>

	<ul class='page-header-links'>
		<!-- contact -->
		<li><%= render 'layouts/help_me' %></li>
	</ul>
</div>

<div class='urgent-order-list'>
	<% @orders.each do |order| %>
		<%= render partial: 'orders/urgent_order', locals: {order: order} %>
	<% end %>

	<div style='clear:both;'></div>
</div>