<h2 class="forgot-pass-header">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.email_field :email, autofocus: true, placeholder: "Email" %>

  <div><%= f.submit "Reset My Password" %></div>
<% end %>

<%= render "devise/shared/links" %>
