<div class='tutorial-details'>
	<div class="exit-tutorial-container">
		<span class="tutorial-title"><%= @tutorial.title %></span>

		<i class='fa fa-times exit-button'></i>

		<div style="clear:both;"></div>
	</div>

	<div class='edit-tutorial-section'>
		<div class="video-wrapper">
			<iframe type="text/html" src="//www.youtube.com/embed/<%= @tutorial.video %>" frameborder="0" allowfullscreen></iframe>
		</div>

		<%= simple_form_for @tutorial, remote: true, html: {id: "edit-tutorial-#{@tutorial.id}"} do |f| %>
			<%= f.input :title, label: false, placeholder: "Title", input_html: {class: "default-input"} %>
			<%= f.input :video, placeholder: "Youtube Video URL", label: false, input_html: {class: "default-input"} %>

			<%= f.submit "Update Tutorial", class: "black-button" %>
		<% end %>
	</div>
</div>