<div class='tutorial-video'>
	<div class='exit-tutorial-container'>
		<span class='tutorial-title'><%= @tutorial.title %></span>

		<i class='fa fa-times exit-button'></i>

		<div style="clear:both;"></div>
	</div>

	<div class="video-wrapper">
		<iframe type="text/html" src="//www.youtube.com/embed/<%= @tutorial.video %>" frameborder="0" allowfullscreen></iframe>
	</div>
</div>