<% if @saved %>
	//prepend new tutorial to tutorial list
	$("#tutorial-list").prepend("<%= j render @tutorial %>");
	//clear and hide new tutorial form
	$("#new_tutorial")[0].reset();
	$("#new_tutorial").parent("#modal-overlay").fadeOut();
	$(".add-tutorial-video").html("<i class='fa fa-video-camera'></i>");
<% end %>