//load form to edit tutorial
$("#tutorials-container").prepend("<%= j render 'tutorials/edit_tutorial' %>");
//autofocus on title
$(".edit_tutorial #tutorial_title").focus();

tinyMCE.editors[0].editorManager.remove();
tinymce.init({
  selector: "textarea",
  toolbar: "styleselect | bold italic underline | bullist numlist outdent indent",
  height: 300
});