<% provide(:title, pluralize(@tutorials.count, "tutorial")) %>

<div id="tutorials-container">
	<div class='add-tutorial-button'>+</div>

	<ul id="tutorial-list" data-update-url="<%= sort_tutorials_url %>">
		<%= render @tutorials %>
	</ul>

	<div id="modal-overlay" class="hide">
		<!-- create new customer -->
		<%= simple_form_for Tutorial.new, remote: true do |f| %>
			<%= f.input :title, placeholder: "Title", label: false %>
			<%= f.input :video, placeholder: "Youtube Video URL", label: false %>

			<%= f.submit "+ Add Tutorial" %>

			<!-- exit this form -->
			<span class="exit-form">
				<i class='fa fa-times'></i>
			</span>
		<% end %>
	</div>
</div>