//hide previously opened tutorial videos to keep shit clear
if($(".tutorial-video")[0]){
	$(".tutorial-video").prev(".user-tutorial").show();
	$(".tutorial-video").remove();
}

//hide tutorial
$(".user-tutorial-<%= @tutorial.id %>").hide();
//load tutorial video underneath tutorial
$(".user-tutorial-<%= @tutorial.id %>").after("<%= j render 'tutorials/video' %>");