//hide previously opened tutorials
if($('.tutorial:hidden')[0]){
	$('.tutorial:hidden').next('.tutorial-details').remove();
	$('.tutorial:hidden').show();
}

//hide link and load form to edit tutorial videos
$("#tutorial_<%= @tutorial.id %>").hide();
$("#tutorial_<%= @tutorial.id %>").after("<%= j render 'tutorials/tutorial_details' %>");

//autofocus on title
$("#edit-tutorial-<%= @tutorial.id %> #tutorial_title").focus();