<% provide(:title, "#{pluralize(@tutorials.count, 'tutorial')}") %>

<div class='page-header'>
	<div class='header-h1'>Tutorials</div>
	<ul class='page-header-links'>
		<!-- contact -->
		<li><%= render 'layouts/help_me' %></li>
	</ul>
</div>

<div id="user-tutorial-container" class='inner-container'>

	<% @tutorials.each do |tutorial| %>
		<%= link_to open_tutorial_path(tutorial), remote: true, class: "user-tutorial user-tutorial-#{tutorial.id}" do %>
			<span>00<%= tutorial.position %></span>
			<%= tutorial.title %>
		<% end %>
	<% end %>
</div>