<div id="modal-overlay">
	<%= simple_form_for Card.new, remote: true do |f| %>
		<div id="stripe_error">
	    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
	  </div>
	  
		<% unless @user.stripe_secret_key.blank? || @user.stripe_publishable_key.blank? %>

		  <% if @cards.any? %>
		  	<div id="card-list">
		  		<%= render @cards %>
		  	</div>

		  	<div class="or-separator">- or -</div>

		  	<div class="black-button use-new-card">Pay With New Card</div>
		  <% end %>

		  <div class="<%= any_cards(@cards) %>">
				<%= f.hidden_field :customer_id, value: @customer.id %>
				<%= f.hidden_field :stripe_card_token %>

			  <%= text_field_tag :card_number, nil, name: nil, class: "default-input", placeholder: "Card Number", 'maxlength'=>'16' %>
			  <%= text_field_tag :card_year, nil, name: nil, class: "default-input", placeholder: "Year (19)", 'maxlength'=>'2' %>
			  <%= text_field_tag :card_month, nil, name: nil, class: "default-input", placeholder: "Month (01)", 'maxlength'=>'2' %>

			  <div style="clear:both;"></div>
			  
			  <%= button_tag(type: "submit", class: "black-button") do %>
			      Charge Card
			  <% end %>
		  </div>

		<% else %>
			<%= link_to 'Pay With Card', pay_with_card_customer_path(@customer), class: 'black-button pay-with-card', remote: true, data: {disable_with: raw("<i class='fa fa-spin fa-spinner'></i>")} %>
		<% end %>

		<div class="or-separator">- or -</div>

	  <%= link_to "Pay With Cash", pay_with_cash_customer_path(@customer), class: "green-button pay-with-cash", remote: true, data: {disable_with: raw("<i class='fa fa-spin fa-spinner'></i>")} %>

	  <div class="or-separator">- or -</div>

	  <%= link_to "Charge Later", charge_later_customer_path(@customer), class: "purple-button charge-later", remote: true, data: {disable_with: raw("<i class='fa fa-spin fa-spinner'></i>")} %>

	  <!-- exit this form -->
		<span class="exit-form"><i class='fa fa-times'></i></span>
	<% end %>

	<div class='modal-footer'>
	</div>
</div>

<script>
$(document).ready(function(){
  //only allow user to input numbers
  $("#card_number, #card_month, #card_year").keydown(function (e) {
    // Allow: backspace, delete, tab, escape, enter and .
    if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
       // Allow: Ctrl+A
      (e.keyCode == 65 && e.ctrlKey === true) || 
       // Allow: home, end, left, right
      (e.keyCode >= 35 && e.keyCode <= 39)) {
	    // let it happen, don't do anything
	    return;
    }
    // Ensure that it is a number and stop the keypress
    if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105) || e.keyCode == 190) {
      e.preventDefault();
    }
  });

  $('#card_number').keyup(function(e) {
  	if(e.keyCode !== 8){
  		if ($('#card_number').val().length > 15 || $('#card_number').val().length > 13 && (e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
	      $('#card_year').focus();
	    }
  	}
  });

  $('#card_year').keyup(function() {
    if ($('#card_year').val().length > 1) {
      $('#card_month').focus();
    }
  });

  $('#card_month').keyup(function() {
    if ($('#card_month').val().length > 1) {
      $("#new_card .black-button").click();
    }
  });  
});
</script>