<div style="clear:both;"></div>

<div class="close-section close-details">
	<span class="close-section-header">Details</span>
	<i class="fa fa-times"></i>
</div>


<div id="customer-details">
	<!-- show customer details -->
	<table>
		<tr>
			<td>Text</td>
			<td>
				<%= simple_form_for @customer, remote: true, url: update_text_customer_path(@customer), html: {class: 'update-text'} do |f| %>
					<%= f.input :text, label: false, as: :select, input_html: {selected: @customer.text, onchange: "$('.update-text').submit();"}, include_blank: false %>
				<% end %>
			</td>
		</tr>

		<tr>
			<td>Starch</td>
			<td>
				<%= simple_form_for @customer, remote: true, url: update_starch_customer_path(@customer), html: {class: 'update-starch'} do |f| %>
					<%= f.input :starch, label: false, as: :select, collection: ["none", "low", "medium", "high"], input_html: {selected: @customer.starch, onchange: "$('.update-starch').submit();"}, include_blank: false %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td>Name</td>
			<td>
				<%= simple_form_for @customer, remote: true, url: update_name_customer_path(@customer) do |f| %>
					<%= f.input :name, label: false, placeholder: "Name", input_html: {class: "white-input"} %>
				<% end %>
			</td>
		</tr>

		<tr>
			<td>Phone</td>
			<td>
				<%= simple_form_for @customer, remote: true, url: update_phone_customer_path(@customer) do |f| %>
					<%= f.input :phone, label: false, placeholder: "Phone", input_html: {class: "white-input"} %>
				<% end %>
			</td>
		</tr>
	</table>
</div>