<div style="clear:both;"></div>

<div class="close-section close-order-history">
	<span class="close-section-header">Order History</span>
	<i class="fa fa-times"></i>
</div>

<div style="clear:both;"></div>

<div id="order-history">
	<%= render @orders %>
</div>