<div style="clear:both;"></div>

<div class="close-section close-place-order">
	<span class="close-section-header">Place Order</span>
	<i class="fa fa-times"></i>
</div>

<div id="checkout-category-list">
	
</div>