<div id="show-customer-container" class="show-customer-<%= @customer.id %>">
	<div class="exit-customer-container">
		<span class="customer-name"><%= @customer.name %></span>

		<i class='fa fa-times exit-show'></i>

		<div style="clear:both;"></div>
	</div>

	<!-- show orders that aren't picked up -->

	<% @orders.find_each do |order| %>
		<%= render partial:'orders/pick_up_order', locals: {order: order} %>
	<% end %>

	<!-- customer actions -->

	<%= link_to 'Place Order', place_order_customer_path(@customer), remote: true, class: "customer-action place-order-link", data: {disable_with: raw("<i class='fa fa-spin fa-spinner'></i>")} %>
	<%= link_to 'Order History', order_history_customer_path(@customer), remote: true, class: "customer-action order-history-link", data: {disable_with: raw("<i class='fa fa-spin fa-spinner'></i>")} if @customer.orders.any? %>
	<%= link_to 'Details', details_customer_path(@customer), remote: true, class: "customer-action details-link", data: {disable_with: raw("<i class='fa fa-spin fa-spinner'></i>")} %>

	<div style="clear:both;"></div>
</div>