<%= link_to checkout_customer_path(@customer), id: "toolbar-#{@customer.id}", class: "toolbar #{empty_toolbar(@total)}", remote: true, data: {disable_with: raw("<i class='fa fa-spin fa-spinner'></i>")} do %>
	<div class="checkout-total">
		<%= render 'customers/checkout_total' %>
	</div>
	<div class="checkout-button">
		Checkout <i class='fa fa-caret-right'></i>
	</div>
<% end %>