<% if @saved %>
	//hide credit card form modal
	$("#new_card").parent("#modal-overlay").remove();

	//remove toolbar
	if($(".toolbar")[0]){
		$(".toolbar").remove();
	}
	
	//load receipt, print receipt, and close
	if($('#receipts')[0]){
		$('#receipts').remove();
	}

	$("body").before("<%= j render partial: 'orders/receipt', locals: {receipt_order:@order} %>");
	window.print();

	//scroll to next pick up order if it's present
	if($(".pick-up-order")[0]){
		//close out place order section
		$(".close-place-order, #checkout-category-list").remove();
		$(".place-order-link").show();
		//scroll to next pick up order
		$('html, body').animate({
			scrollTop: $("#show-customer-container").offset().top
		}, 0);
	}else{
		//return open customer to normal state
		$("#show-customer-container").prev(".customer").show();
		$("#show-customer-container").remove();
		$(".search-field").val("").focus();
	}
<% end %>