//load credit card form
$("body").prepend("<%= j render 'customers/credit_card_form' %>");
//load stripe js
$(document).ready(function(){
	Stripe.setPublishableKey("<%= @user.stripe_publishable_key %>");
	$(document).stripe_js();
});

$("#card_number").focus();