<% if @saved %>
	//reset new customer form
	$("#new_customer")[0].reset();
	//fade out customer form
	$("#new_customer").parent("#modal-overlay").fadeOut();
	//fade in customer list
	if(!$('#customer-list')[0]){
		$("#results").html("<div id='customer-list'></div>");
	}

	//add customer to list
	$("#customer-list").prepend("<%= j render @customer %>");

	//update title
	$("title").html("Incrediclean | <%= pluralize(@customer.user.customers.count, 'customer') %>");

	//open customer

	//remove all previous customer containers and toolbars
	if($("#show-customer-container")[0]){
		$("#show-customer-container").prev('.customer').show();
		if($(".toolbar")[0]){
			$(".toolbar").remove();
		}
		//show hidden container
		$("#show-customer-container").remove();
	}
	
	//hide customer show link
	$("#customer-<%= @customer.id %>").hide();
	//display customer actions underneath customer name
	$("#customer-<%= @customer.id %>").after("<%= j render 'customers/show' %>");

	//hide place order link and any previous toolbar
	if($(".toolbar")[0]){
		$(".toolbar").remove();	
	}
	$(".show-customer-<%= @customer.id %> .place-order-link").hide();

	//load buttons to add order items to order
	$(".show-customer-<%= @customer.id %> .place-order-link").after("<%= j render 'customers/place_order' %>");
	//move pre-loaded products in
	$("#preloaded-categories:hidden").clone().appendTo("#checkout-category-list").show();
	//scroll to top of place order section
	$('html, body').animate({
		scrollTop: $(".show-customer-<%= @customer.id %> .close-place-order").offset().top
	}, 150);
	//add order toolbar to keep track of price and checkout
	$('body').prepend("<%= j render 'customers/toolbar' %>");

	//put correct customer id in
	$("#checkout-category-list #item_customer_id").val(<%= @customer.id %>);

	//get rid of alert message in form
	if($("#new_customer .alert-danger")[0]){
		$("#new_customer .alert-danger").remove();
	}
	
<% else %>
	//clear previous error messages
	if($(".alert-danger").length){
		$(".alert-danger").remove();
	}

	//error message
	$("#new_customer").prepend("<div class='alert alert-danger'>Please fill out both name and phone correctly.</div>");
<% end %>