//hide place order link and any previous toolbar
$(".show-customer-<%= @customer.id %> .details-link").hide();
//load customer details
$(".show-customer-<%= @customer.id %> .details-link").after("<%= j render 'customers/details' %>");
//scroll to top of details section
$('html, body').animate({
	scrollTop: $(".show-customer-<%= @customer.id %> .close-details").offset().top
}, 150);

//hide alert; load next alert
if($("#footer-alert").length){
	$(".edit-customer-details").addClass("hide").animate({left: "-=400"});
	$(".edit-text").removeClass("hide").animate({left: "+=400"}, 1000);
}