//hide place order link and any previous toolbar
$(".show-customer-<%= @customer.id %> .order-history-link").hide();

//load order history
$(".show-customer-<%= @customer.id %> .order-history-link").after("<%= j render 'customers/order_history' %>");
//scroll to top of order history section
$('html, body').animate({
	scrollTop: $(".show-customer-<%= @customer.id %> .close-order-history").offset().top
}, 150);
