//hide place order link and any previous toolbar
if($(".toolbar")[0]){
	$(".toolbar").remove();	
}
$(".show-customer-<%= @customer.id %> .place-order-link").hide();

//load buttons to add order items to order
$(".show-customer-<%= @customer.id %> .place-order-link").after("<%= j render 'customers/place_order' %>");
//move pre-loaded products in
$("#preloaded-categories").clone().appendTo("#checkout-category-list").show();
//scroll to top of place order section
$('html, body').animate({
	scrollTop: $(".show-customer-<%= @customer.id %> .close-place-order").offset().top
}, 150);
//add order toolbar to keep track of price and checkout
$('body').prepend("<%= j render 'customers/toolbar' %>");

//put correct customer id in
$("#checkout-category-list #item_customer_id").val(<%= @customer.id %>);

//fill productless item form's customer_id in
$(".productless-item-form #item_customer_id").val(<%= @customer.id %>);

//put correct items in place
<% @items.each do |item| %>
	<% if item.product_id %>
		$("#checkout-category-list .checkout-product-<%= item.product.id %> .checkout-product").addClass("selected-product");
		$("#checkout-category-list .checkout-product-<%= item.product.id %>").append("<%= j render partial:'items/cart_item', locals: {item: item} %>");
		$new_id = "checkout-item-" + <%= item.id.to_s %>
		$("#checkout-category-list .checkout-product-<%= item.product.id %>").attr('id', $new_id);
		//update price of item on screen
		$("#checkout-category-list .checkout-product-<%= item.product.id %> .product-price").html("<%= number_to_currency(item.price, precision: (item.price.round == item.price) ? 0 : 2) %>")
	<% else %>
		$("#checkout-category-list #category-<%= item.category.id %>").parent('.item-box').before("<%= j render partial: 'items/productless_item', locals: {item: item} %>");
	<% end %>

	//load form to edit price on right click
	$("#show-user-container").prepend("<%= j render partial:'items/update_price', locals: {item: item} %>");
<% end %>