//remove all previous customer containers and toolbars
$("#show-customer-container").prev('.customer').show();
if($(".toolbar")[0]){
	$(".toolbar").remove();
}

//show hidden container
$("#show-customer-container").remove();

//display customer actions underneath customer name
$("#customer-<%= @customer.id %>").after("<%= j render 'customers/show' %>");

//hide customer show link
$("#customer-<%= @customer.id %>").hide();

//scroll to top of newly loaded show customer section
$('html, body').animate({
	scrollTop: $(".show-customer-<%= @customer.id %>").offset().top
}, 150);