<% if @updated %>
	//update customer name
	$("#customer-<%= @customer.id %>").html("<%= @customer.name %>");
	$(".show-customer-<%= @customer.id %> .customer-name").html("<%= @customer.name %>");
<% end %>