<div id="modal-overlay">
	<%= simple_form_for current_user, url: delete_order_order_path(@order), html: {id: "confirm-password"}, remote: true do |f| %>
		<%= password_field_tag "password", nil, placeholder: "Enter Password" %>
		<%= button_tag(type: 'submit', data: {disable_with: raw("<i class='fa fa-spin fa-spinner'></i>")}) do %>
			Confirm Password
		<% end %>

		<!-- exit this form -->
		<span class="exit-form"><i class='fa fa-times'></i></span>
	<% end %>
</div>