<div class="order-details order-details-<%= @order.id %>" id="order-details-<%= @order.id %>">
	<div class="exit-order-container">
		<span class="order-number"><%= @order.order_number %></span>

		<i class='fa fa-times exit-button'></i>

		<div style="clear:both;"></div>
	</div>

	<!-- link to print receipt for this order -->
	<%= link_to print_receipt_order_path(@order), remote: true, class: "print-receipt" do %>
		<i class="fa fa-print"></i>
		Print receipt
	<% end %>

	<!-- delete order -->
	<%= link_to confirm_delete_order_path(@order), remote: true, class: "delete-order-link" do %>
		<i class="fa fa-trash"></i>
		Delete order
	<% end %>


	<!-- order details -->
	<table class='details-table'>
		<!-- order's customer -->
		<tr>
			<td>Customer</td>
			<td><%= @customer.name %></td>
		</tr>

		<tr>
			<td>Total</td>
			<td><%= number_to_currency(@order.total, precision: (@order.total.round == @order.total) ? 0 : 2) %></td>
		</tr>

		<tr>
			<td>Rack</td>
			<td><%= @order.rack %></td>
		</tr>

		<tr>
			<td>Tags</td>
			<td><%= @order.tags %></td>
		</tr>

		<!-- order's payment details -->
		<tr>
			<td>Payment Method</td>
			<td>

				<% if !@order.paid %>
					<!-- show order was not paid yet -->
					Not paid
				<% elsif @order.payment_type=="cash" %>
					Cash
				<% elsif @order.payment_type=="card" %>
					<!-- show whether order was paid by cash or card -->
					<% if @card %>
						<% if @card.brand == "Visa" %>
						  <%= image_tag "visa.png" %>
						<% elsif @card.brand == "MasterCard" %>
						  <%= image_tag "master_card.png" %>
						<% elsif @card.brand == "Discover" %>
						  <%= image_tag "discover.png" %>
						<% elsif @card.brand == "Diners Club" %>
						  <%= image_tag "diners_club.png" %>
						<% elsif @card.brand == "JCB" %>
						  <%= image_tag "jcb.png" %>
						<% elsif @card.brand == "American Express" %>
						  <%= image_tag "american_express.png" %>
						<% end %>
						<div class="last4">
							<%= @card.last4 %>
						</div>
					<% else %>
						Card
					<% end %>
				<% end %>

			</td>
		</tr>

		<tr>
			<td>Pickup Date</td>
			<td class='pickup-date'>
				<% if @order.pickup_time %>
					<%= @order.pickup_time.strftime("%b %_d, %Y") %> 
					<span>
						<% if @order.picked_up %>
							(picked up)
						<% else %>
							(estimated)
						<% end %>
					</span>
				<% end %>
			</td>
		</tr>
	</table>

	<!-- order's items -->
	<table class="items-table">
		<tr>
			<th>Product</th>
			<th>Quantity</th>
			<th>Price</th>
		</tr>
	<% @items.each do |item| %>
		<tr>
			<td><%= item.name %></td>
			<td><%= item.quantity %></td>
			<td><%= number_to_currency(item.price, precision: (item.price.round == item.price) ? 0 : 2) %></td>
		</tr>
	<% end %>
	</table>
</div>