<div class="pick-up-order pick-up-order-<%= order.id %> <%= paid_or_not(order) %>">
	<div class="pick-up-message">
		<% if !order.rack.blank? %>
			 <span>RACK <b><%= order.rack %></b></span>
		<% end %>
		 pick order #<%= order.order_number %> up
	</div>

	<% if order.items.not_paid.any? %>
		<%= link_to "Pay and pick up!", pay_on_pickup_order_path(order), remote: true, class: "white-button" %>
	<% else %>
		<%= link_to "Pick Up", pick_up_order_path(order), remote: true, class: "black-button", data: {disable_with: raw("<i class='fa fa-spin fa-spinner'></i>")} %>
	<% end %>

	<div style="clear:both;"></div>
</div>