<div id="modal-overlay">
	<%= simple_form_for @order, url: rack_urgent_order_order_path(@order), html: {class: "rack-urgent-order"}, remote: true do |f| %>
		
		<%= f.input :rack, label: false, placeholder: "Rack order ##{@order.id}..." %>

		<%= button_tag(type:"submit", data: {disable_with: raw("<i class='fa fa-spin fa-spinner'></i>")}) do %>
			Rack Urgent Order
		<% end %>
		
		<!-- exit this form -->
		<span class="exit-form"><i class='fa fa-times'></i></span>
	<% end %>
</div>