<div class="rack-order">
	<!-- form to search for customers -->
	<%= form_tag search_rack_order_path, method: :get, class: "search-orders", remote: true do %>
		<%= text_field_tag :query, params[:query], placeholder: "Order number", class: "default-input", autofocus: true, required: true %>
	<% end %>

	<% if @order %>
		<%= simple_form_for @order, remote: true, url: rack_order_path(@order) do |f| %>
			<%= f.input :rack, label: false, placeholder: "Rack" %>
			<%= f.submit "Rack It" %>
		<% end %>
	<% elsif params[:query] %>
		<div class="no-rack-results">No order #<%= params[:query] %>.</div>
	<% end %>

	<!-- exit this form -->
	<span class="exit-form"><i class='fa fa-times'></i></span>
</div>