<% if params[:order_id] %>
  <% @receipt_order = Order.find_by_id(params[:order_id]) %>
<% else %>
  <% @receipt_order = receipt_order %>
<% end %>
<% @customer = @receipt_order.customer %>
<% @card = @receipt_order.card %>
<% @items = @receipt_order.items %>
<% @user = @receipt_order.user %>

<!-- print receipt if present -->
<div id="receipts">
  <div class="pickup-date">
    Pick up on <%= 3.business_days.after(@receipt_order.created_at).strftime("%b %_d, %Y") %>
  </div>

  <div class="receipt-order-number">#<%= @receipt_order.order_number %></div>
  <div class='store-name'><%= @user.name %></div>
  <div class='store-address'><%= @user.address %>, <%= @user.city %></div>
  <div class="store-phone"><%= @user.phone %></div>

  <!-- barcode -->
  <%= @receipt_order.barcode_data(xdim:3.5, height: 50).html_safe %>

  <div class="receipt-name"><%= @customer.name %></div>

  <!-- items -->
  <table>
    <% @items.each do |item| %>
    <tr>
      <td>
        <%= item.name %> 
        <% if @customer.starch != "none" && item.name.downcase=="laundered shirt" %>
          <b><i>[<%= @customer.starch %> starch]</i></b>
        <% end %>
      </td>
      <td><%= item.quantity %></td>
      <td><%= number_to_currency(item.price, precision: (item.price.round == item.price) ? 0 : 2) %></td>
    </tr>
    <% end %>
    <tr>
      <td>Total:</td>
      <td><%= @receipt_order.items.sum(:quantity) %></td>
      <td><%= number_to_currency(@receipt_order.total, precision: (@receipt_order.total.round == @receipt_order.total) ? 0 : 2) %></td>
    </tr>
  </table>

  <div class="payment-method">
    <% if !@receipt_order.paid %>
      balance due
    <% elsif @receipt_order.payment_type=="card" %>
      paid by <% if @card %><%= @card.brand %><% else %>card<% end %>
    <% elsif @receipt_order.payment_type=="cash" %>
      paid by cash
    <% end %>

    on <%= @receipt_order.created_at.strftime("%D") %>
  </div>
</div>
