<div class="tag-order">
	<!-- form to search for customers -->
	<%= form_tag search_tags_order_path, method: :get, class: "search-orders", remote: true do %>
		<%= text_field_tag :query, params[:query], placeholder: "Order number", class: "default-input", autofocus: true %>
	<% end %>

	<% if @order %>
		<%= simple_form_for @order, remote: true do |f| %>
			<%= f.input :tags, label: false, placeholder: "Tag(s)" %>
			<%= f.submit "Tag Order" %>
		<% end %>
	<% elsif params[:query] %>
		<div class="no-tag-results">No order #<%= params[:query] %>.</div>
	<% end %>

	<!-- exit this form -->
	<span class="exit-form"><i class='fa fa-times'></i></span>
</div>