<div class='urgent-order' id="urgent-order-<%= order.id %>">
	<!-- button to rack order quickly -->
	<%= link_to 'rack order', load_urgent_rack_order_path(order), class: "green-button rack-order-button", remote: true %>

	<!-- order # -->
	<div class='urgent-order-id'>Order <%= order.id %></div>

	<!-- customer name and phone -->
	<div class='urgent-order-name'>
		<i class='fa fa-user'></i>
		<%= order.customer.name %>
	</div>
	<div class='urgent-order-phone'>
	<i class='fa fa-phone'></i>
		<%= order.customer.phone %>
	</div>

	<!-- leave note -->
	<%= simple_form_for order, url: leave_note_order_path(order), html: {class: 'leave-note-form'}, remote: true do |f| %>
		<%= f.input :note, label: false, placeholder: "Leave note here..." %>
	<% end %>

	<div class='arrow'></div>

	<ul class='urgent-order-items'>
		<% order.items.each do |item| %>
			<li><%= pluralize(item.quantity, item.name.downcase) %></li>
		<% end %>
	</ul>
</div>