//confirm delete with password
$("#show-user-container").prepend("<%= j render 'orders/confirm_delete' %>");
//autofocus on confirm password field
$("#confirm-password input[type='password']").focus();