<% if @destroyed %>
	//remove modal to confirm password
	$("#confirm-password").parent("#modal-overlay").remove()
	//hide order
	if($('#show-customer-container')[0]){
		$(".show-customer-<%= @customer.id %> .order-history-link").show();
		$('.show-customer-<%= @customer.id %> .close-order-history').remove();
		$(".show-customer-<%= @customer.id %> #order-history").remove();

		//scroll to top of newly loaded timesheet
		$('html, body').animate({
			scrollTop: $(".show-customer-<%= @customer.id %>").offset().top
		}, 150);
	}else{
		//return to list of all customers if displaying only order
		$(".search-customers .search-field").val("");
		$(".search-customers").submit();
	}
	
	//remove _pick_up_order if it exists
	if($(".pick-up-order-<%= @order.id %>")[0]){
		$(".pick-up-order-<%= @order.id %>").remove();
	}

<% else %>
	//remove previous alert notifications
	if($(".alert-danger")[0]){
		$(".alert-danger").remove();
	}
	//false password notification
	$("#confirm-password").prepend("<div class='alert alert-danger'>Wrong Password</div>");

	$("#confirm-password input[type='password']").val("").focus();
<% end %>