//close previously opened order details
if($(".order-details")[0]){
	$(".order-details").remove();
	$(".order:hidden").show();
}
//hide order details link
$("#order-<%= @order.id %>").hide();
//show order details after order
$("#order-<%= @order.id %>").after("<%= j render 'orders/order_details' %>");
//scroll to top of newly loaded order details section
$('html, body').animate({
	scrollTop: $(".order-details-<%= @order.id %>").offset().top
}, 150);