<% if @saved %>
	//remove pick up order
	$(".pick-up-order-<%= @order.id %>").fadeOut(function(){
		$(this).remove();
	});

	//change pick up date on _order_details
	if($(".order-details-<%= @order.id %>")[0]){
		$(".order-details-<%= @order.id %> .pickup-date").html("<%= @order.pickup_time.strftime('%b %_d, %Y') %> <span>(picked up)</span>")
	}
<% end %>