//load receipt, print receipt, and close
if($('#receipts')[0]){
	$('#receipts').remove();
}
$("body").before("<%= j render partial: 'orders/receipt', locals: {receipt_order:@order} %>");
window.print();