<% if @updated %>
	//make form to rack urgent order disappear
	$(".rack-urgent-order").parent("#modal-overlay").remove();
	//make urgent order disappear
	$("#urgent-order-<%= @order.id %>").fadeOut(function(){
		$(this).remove();
	});

	//remove icon if there are no more urgent orders
	<% if !@orders.any? %>
		//redirect to root path
		window.location.href = "/";
	<% else %>
		//change title
		$("title").html("Incrediclean | <%= pluralize(@orders.count, 'urgent order') %>");
	<% end %>

<% else %>
	if($(".alert-danger")[0]){
		$('.alert-danger').remove();
	}
	$(".rack-urgent-order").prepend("<div class='alert alert-danger'>Please enter a valid rack</div>");
<% end %>