//remove previous form to rack order
if($(".edit_order")[0]){
	$(".edit_order").remove();
}

//reload partial with form to edit order's rack
$(".tag-order").replaceWith("<%= j render 'orders/tag_order' %>");

if($("#order_tags")[0]){
	//autoselect order tag field
	$("#order_tags").select();
}else{
	$(".search-orders .default-input").val("").focus();
}
