//remove previous form to rack order
if($(".edit_order")[0]){
	$(".edit_order").remove();
}

//reload partial with form to edit order's rack
$(".rack-order").replaceWith("<%= j render 'orders/rack_order' %>");

if($('.hidden-rack-number')[0]){
	if($('#order_rack')[0]){
		$("#order_rack").val($(".hidden-rack-number").html());
		$(".edit_order").submit();
	}else{
		$(".search-orders .default-input").val("").focus();
	}
}else{
	//autoselect order rack field or search
	if ($("#order_rack")[0]){
		$("#order_rack").select();
	}else{
		$(".search-orders .default-input").val("").focus();
	}
}