<% if @updated %>
	//clear search form and focus
	if($(".search-orders")[0]){
		$(".edit_order").remove();
		$(".search-orders .default-input").val("").focus();
	}

	if($("#tagless-order-list")[0]){
		$("#tagless-order-list").remove();
	}
<% end %>