<div id="intro">
	<div class='home-h1'>
		Run your drycleaning business, the easy way.
	</div>
	<div class='home-h2'>
		Make your life and your customers' lives easier.
	</div>

	<%= link_to "Get Started Now!", free_trial_path, class: "blue-button"  %>

	<div class='learn-more-wrap'>
		<span class='learn-more'>
			Learn More
			<br>
			<i class='fa fa-chevron-down'></i>
		</span>
	</div>
</div>

<div id="feature-list-wrap">
	<h1>Focus on the clothes. Incrediclean takes care of the rest.</h1>
	<h2>Slow down. Take a deep breath. From tracking down missing orders to texting customers to pick up their clothes, Incrediclean streamlines everything.</h2>

	<div id="feature-list">
		<div class='feature'>
			<%= image_tag "take_orders.jpg" %>
			<label>Take Orders</label>
			<p>
				Take orders quickly with Incrediclean's POS system. Accept payments with any type of card and save each customer's card securely for a faster checkout next time.
			</p>
		</div>

		<div class='feature'>
			<%= image_tag "never_lose_an_order.jpg" %>
			<label>Never Lose An Order</label>
			<p>
				Quickly track down missing orders by tag number, order number, or customer name. Mark orders as "picked up" to confirm the order has left your store.
			</p>
		</div>

		<div style="clear:both;"></div>

		<div class='feature'>
			<%= image_tag "text_customers.jpg" %>
			<label>Text Customers</label>
			<p>
				Automatically text customers to pick up their clothes <i>(at no extra cost)</i>. Your customers will love you for the conveience and old orders won't pile up in your store.
			</p>
		</div>

		<div class='feature'>
			<%= image_tag "make_better_decisions.jpg" %>
			<label>Make Better Decisions</label>
			<p>
				Track revenue and workload. Whether you need to decide how many pressers to hire or if your marketing works, use these analytics to make better business decisions.
			</p>
		</div>

		<div style="clear:both;"></div>

		<div class='feature'>
			<%= image_tag "manage_employees.jpg" %>
			<label>Manage Employees</label>
			<p>
				Employees can check in and out easily with Incrediclean. Record each employee's pay rate and compensate each employee down to the penny.
			</p>
		</div>

		<div class='feature'>
			<%= image_tag "manage_inventory.jpg" %>
			<label>Manage Inventory</label>
			<p>
				Incrediclean starts your account off with standard drycleaning inventory like laundered shirts and pants. Update inventory for your specific drycleaning business.
			</p>
		</div>

		<div style="clear:both;"></div>
	</div>
</div>

<div class="sexy-divider"></div>

<div id="signup-now">
	<%= link_to "Start Your Free Trial!", free_trial_path, class: 'blue-button' %>
</div>

<script>
$(document).ready(function(){
	//mixpanel tracking for homepage
	mixpanel.track("land on homepage (v1)");
});
</script>