<% provide(:title, "Terms") %>

<div id='terms-container'>
	<div class='terms-header'>Terms of Service</div>

	<p>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally identifiable information' (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>
	
	<label>What personal information do we collect from the people that visit our blog, website or app?</label>
	<p>When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, phone number, credit card information  or other details to help you with your experience.</p>

	<label>When do we collect information?</label>
	<p>We collect information from you when you register on our site  or enter information on our site.</p>

	<label>How do we use your information?</label>
	<p>
		We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
		<ul>
			<li>To personalize user's experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
			<li>To improve our website in order to better serve you.</li>
			<li>To allow us to better service you in responding to your customer service requests.</li>
			<li>To quickly process your transactions.</li>
		</ul>
	</p>

	<label>How do we protect visitor information?</label>
	<p>Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible.</p>
	<p>Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.</p>
	<p>We implement a variety of security measures when a user places an order enters, submits, or accesses their information to maintain the safety of your personal information.</p>
	<p>All transactions are processed through a gateway provider and are not stored or processed on our servers.</p>

	<label>Do we use 'cookies'?</label>
	<p>Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</p>
	<p>We use cookies to:
		<ul>
			<li>Understand and save user's preferences for future visits.</li>
		</ul>
	</p>
	<p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser's Help menu to learn the correct way to modify your cookies.</p>

	<label>If users disable cookies in their browser:</label>
	<p>If you disable cookies off, some features will be disabled It will turn off some of the features that make your site experience more efficient and some of our services will not function properly.</p>

	<label>Third Party Disclosure</label>
	<p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information.</p>

	<label>Third party links</label>
	<p>We do not include or offer third party products or services on our website.</p>

	<label>California Online Privacy Protection Act</label>
	<p>CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy.  The law's reach stretches well beyond California to require a person or company in the United States (and conceivably the world) that operates websites collecting personally identifiable information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals with whom it is being shared, and to comply with this policy.</p>
	<p>
		According to CalOPPA we agree to the following:
		<ul>
			<li>Users can visit our site anonymously</li>
			<li>Once this privacy policy is created, we will add a link to it on our home page, or as a minimum on the first significant page after entering our website.</li>
			<li>Our Privacy Policy link includes the word 'Privacy', and can be easily be found on the page specified above.</li>
			<li>Users will be notified of any privacy policy changes on our Privacy Policy Page.</li>
			<li>Users are able to change their personal information by logging into their account.</li>
		</ul>
	</p>
	
	<label>How does our site handle do not track signals?</label>
	<p>We honor do not track signals and do not track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.</p>

	<label>Does our site allow third party behavioral tracking?</label>
	<p>We do not allow third party behavioral tracking</p>

	<label>COPPA (Children Online Privacy Protection Act)</label>
	<p>When it comes to the collection of personal information from children under 13, the Children's Online Privacy Protection Act (COPPA) puts parents in control.  The Federal Trade Commission, the nation's consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online.</p>
	<p>We do not specifically market to children under 13.</p>

	<label>Fair Information Practices</label>
	<p>The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.</p>
	<p>Should a data breach occur, we will notify the users via in-site notification within 7 business days in order to be in line with Fair Information Practices</p>
	<p>We also agree to the individual redress principle, which requires that individuals have a right to pursue legally enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or a government agency to investigate and/or prosecute non-compliance by data processors.</p>

	<label>Contacting Us</label>
	<p>If there are any questions regarding this privacy policy you may contact us using the information below.</p>
	<p>
		incrediclean.me<br>
		San Jose<br>
		3506 Alden Way<br>
		95117<br>
		hello@incrediclean.me<br>
		(408) 489-9038</br>
	</p>

	<p>Last Edited on 2014-10-31</p>
</div>