<div class="signin-form">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="signin-header">Sign In Below</div>

    <div class="sexy-divider"></div>

    <%= f.input :email, autofocus: true, placeholder: "Email", input_html: {class: 'default-input'}, label: false %>

    <%= f.input :password, autocomplete: "off", placeholder: "Password", input_html: {class: 'default-input'}, label: false %>

    <%= f.submit "Sign In", class: 'blue-button' %>
  <% end %>

  <div class="signin-form-footer">
    New to Incrediclean? <%= link_to 'Sign up here.', free_trial_path %>
  </div>
</div>