<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
    	td{
    		padding: 5px;
    	}

    	tr td:first-child{
    		font-weight: bold;
    	}
    </style>
  </head>
  <body>
    <table>

    	<tr>
    		<td>User</td>
    		<td><%= @user.name %> (<%= @user.id %>)</td>
    	</tr>

    	<% if !@message.emotion.blank? %>
	    	<tr>
	    		<td>Emotion</td>
	    		<td><%= @message.emotion %></td>
	    	</tr>
	    <% end %>

    	<% if !@message.message_type.blank? %>
	    	<tr>
	    		<td>Type</td>
	    		<td><%= @message.message_type %></td>
	    	</tr>
	    <% end %>

    	<tr>
    		<td>Content</td>
    		<td><%= @message.content %></td>
    	</tr>
    </table>
  </body>
</html>