<div class='productless-item-box item-box' id="productless-item-<%= item.id %>">

	<div class='checkout-product selected-product'>
		<div class='small-blank-image'></div>
		<div class='product-name'><%= item.name %></div>
		<div class='product-price'><%= number_to_currency(item.price, precision: (item.price.round == item.price) ? 0 : 2) %></div>

		<div style='clear:both;'></div>
	</div>
		
	<%= simple_form_for item, remote: true do |f| %>
		<%= f.input :quantity, label: false, as: :string %>
	<% end %>

	<%= link_to "x", item, remote: true, method: :delete, class: "delete-item" %>	
</div>