<div id="modal-overlay" class="hide">
	<%= simple_form_for item, remote: true, url:update_price_item_path(item) ,html: {class: "update-price", id: "update-price-#{item.id}"} do |f| %>
		<%= f.input :price, label: false %>

		<%= f.submit "Update Price" %>

		<span class='exit-form'><i class='fa fa-times'></i></span>
	<% end %>
</div>