<% if @saved %>
	<% if @item.product_id %>
		//style product as selected
		$("#checkout-category-list .checkout-product-<%= @product.id %> .checkout-product").addClass("selected-product");
		//show form to update item price
		$("#checkout-category-list .checkout-product-<%= @product.id %>").append("<%= j render partial:'items/cart_item', locals: {item:@item} %>");
		$new_id = "checkout-item-" + <%= @item.id.to_s %>
		$("#checkout-category-list .checkout-product-<%= @item.product.id %>").attr('id', $new_id);
	<% elsif @item.category_id %>
		//hide form
		$(".productless-item-form")[0].reset();
		$(".productless-item-overlay").hide();
		//add productless item
		$("#show-user-container #category-<%= @item.category.id %>-products .add-productless-item").parent('.item-box').before("<%= j render partial: 'items/productless_item', locals: {item: @item} %>");
	<% end %>

	//load form to edit price on right click
	$("#show-user-container").prepend("<%= j render partial:'items/update_price', locals: {item: @item} %>");

	//replace total
	$(".checkout-total").html("<%= j render 'customers/checkout_total' %>");
	
	if($(".empty-toolbar")[0]){
		$(".empty-toolbar").removeClass("empty-toolbar");
	}
<% end %>

<% if @item.product_id %>
	//auto-select quantity field
	$("#preloaded-categories .checkout-product-<%= @product.id %> #item_quantity").select();
<% end %>