<% if @destroyed %>
	<% if @item.product_id %>
		//return product to not-checked-out state
		$("#checkout-category-list .checkout-product-<%= @product.id %> .checkout-product").removeClass("selected-product");
		$("#checkout-category-list .checkout-product-<%= @product.id %> .edit_item, #checkout-category-list .checkout-product-<%= @product.id %> .delete-item").remove();
		//return to normal price
		$("#checkout-category-list .checkout-product-<%= @product.id %> .product-price").html("<%= number_to_currency(@product.price, precision: (@product.price.round == @product.price) ? 0 : 2) %>")
	<% else %>
		//remove item for productless item
		$("#productless-item-<%= @item.id %>").remove();
	<% end %>

	//remove modal to update price
	$("#update-price-<%= @item.id %>").parent("#modal-overlay").remove();

	//replace total
	<% if @total == 0 %>
		$(".toolbar").addClass("empty-toolbar")
	<% else %>
		$(".checkout-total").html("<%= j render 'customers/checkout_total' %>");
	<% end %>
<% end %>