<% if @updated %>
	//hide modal to update price
	$(".update-price:visible").parent("#modal-overlay").hide();
	//update total
	$(".checkout-total").html("<%= j render 'customers/checkout_total' %>");
	<% if @item.product_id %>
		//update price of item on screen
		$("#checkout-item-<%= @item.id %> .product-price").html("<%= number_to_currency(@item.price, precision: (@item.price.round == @item.price) ? 0 : 2) %>");
	<% else %>
		//update price for productless items
		$("#checkout-category-list #productless-item-<%= @item.id %> .product-price").html("<%= number_to_currency(@item.price, precision: (@item.price.round == @item.price) ? 0 : 2) %>");
	<% end %>
<% end %>