<%= link_to pickup_pay_card_path(card, order_id:@order.id), class: 'card', data: {disable_with: raw("<i class='fa fa-spin fa-spinner'></i>")}, remote: true do %>
	<% if card.brand == "Visa" %>
	  <%= image_tag "visa.png" %>
	<% elsif card.brand == "MasterCard" %>
	  <%= image_tag "master_card.png" %>
	<% elsif card.brand == "Discover" %>
	  <%= image_tag "discover.png" %>
	<% elsif card.brand == "Diners Club" %>
	  <%= image_tag "diners_club.png" %>
	<% elsif card.brand == "JCB" %>
	  <%= image_tag "jcb.png" %>
	<% elsif card.brand == "American Express" %>
	  <%= image_tag "american_express.png" %>
	<% end %>

	<div class="card-last4">
		<%= card.last4 %>
	</div>

	<div style="clear:both;"></div>
<% end %>