<% if @saved_on_dropoff %>
	//reload preloaded products / categories
	$("#preloaded-categories").replaceWith("<%= j render 'layouts/preloaded_categories' %>");
	$(".new-customer-modal").replaceWith("<%= j render 'users/new_customer' %>");

	//hide credit card form modal
	$("#new_card").parent("#modal-overlay").remove();

	//remove toolbar
	if($(".toolbar")[0]){
		$(".toolbar").remove();
	}

	//load receipt, print receipt, and close
	if($('#receipts')[0]){
		$('#receipts').remove();
	}
	$("body").before("<%= j render partial: 'orders/receipt', locals: {receipt_order:@order} %>");
	window.print();


	//scroll to next pick up order if it's present
	if($(".pick-up-order")[0]){
		//close out place order section
		$(".close-place-order, #checkout-category-list").remove();
		$(".place-order-link").show();
		//scroll to next pick up order
		$('html, body').animate({
			scrollTop: $("#show-customer-container").offset().top
		}, 0);
	}else{
		//return open customer to normal state
		$("#show-customer-container").prev(".customer").show();
		$("#show-customer-container").remove();
		$(".search-field").val("").focus();
	}
<% elsif @saved_on_pickup %>
	//reload preloaded products / categories
	$("#preloaded-categories").replaceWith("<%= j render 'layouts/preloaded_categories' %>");
	$(".new-customer-modal").replaceWith("<%= j render 'users/new_customer' %>");

	//remove cc form
	$("#new_card").parent("#modal-overlay").remove();

	//remove unpaid order
	$(".pick-up-order-<%= @order.id %>").fadeOut(function(){
		$(this).remove();

		//scroll to next pick up order if it's present
		if($(".pick-up-order")[0]){
			//close out place order section
			$(".close-place-order, #checkout-category-list").remove();
			$(".place-order-link").show();
			//scroll to next pick up order
			$('html, body').animate({
				scrollTop: $("#show-customer-container").offset().top
			}, 0);
		}else{
			//return open customer to normal state
			$("#show-customer-container").prev(".customer").show();
			$("#show-customer-container").remove();
			$(".search-field").val("").focus();
		}
	});
<% elsif @error %>
	$('#card_number, #card_month, #card_year').val('');
  $('#card_number').focus();
	$("#stripe_error").fadeIn().text("Your card was declined.");
	$("#new_card button").html("Charge Card");
  $('button[type=submit]').attr('disabled', false);
<% end %>