<% if @error %>
	$("#stripe_error").fadeIn().text("Your card was declined.");
<% elsif @saved %>
	//remove cc form
	$("#new_card").parent("#modal-overlay").remove();

	//remove unpaid order
	$(".pick-up-order-<%= @order.id %>").fadeOut(function(){
		$(this).remove();

		//scroll to next pick up order if it's present
		if($(".pick-up-order")[0]){
			//close out place order section
			$(".close-place-order, #checkout-category-list").remove();
			$(".place-order-link").show();
			//scroll to next pick up order
			$('html, body').animate({
				scrollTop: $("#show-customer-container").offset().top
			}, 0);
		}else{
			//return open customer to normal state
			$("#show-customer-container").prev(".customer").show();
			$("#show-customer-container").remove();
			$(".search-field").val("").focus();
		}
	});
<% end %>