/* _card */

.card{
  position: relative;
}

.pay-card{
	display              : block;
	background           : whitesmoke;
	color                : #777;
	padding              : 10px;
	margin-bottom        : 10px;
	-webkit-border-radius: 3px; 
  -moz-border-radius   : 3px; 
  border-radius        :3px;

  &:active{
  	background: #f0f0f0;
  }

	img, .card-last4{
		float: left;
	}

	img{
		width       : 30px;
		margin-right: 10px;
	}

	.card-last4{
		font-size  : 13px;
		padding-top: 2px;
	}
}

.destroy-card{
  position: absolute;
  top: 11px;
  right: 11px;
  color: #bbb;

  &:active{
    color: #ccc;
  }
}
