/* _checkin, _check_out */

#new_checkin, .edit_checkin{
	input[type="submit"]{
		padding  : 15px 0;
		font-size: 20px;
	}
}

.empty-cell{
	position  : absolute;
	width     : 100%;
	height    : 100%;
	top       : 0;
	left      : 0;
	background: rgba(146, 60, 175, 0.2);
}

.checkin{
	.start-time, .finish-time{
		cursor  : pointer;
		position: relative;

		.fa-clock-o{
			position : absolute;
			top      : 16px;
			right    : 16px;
			color    : #eee;
			transform: scale(1.5,1.5);
		}

		&:hover{
			.fa-clock-o{
				color: #aaa;
			}
		}
	}
}