/* _credit_card_form */

#stripe_error{
	background   : rgb(192, 57, 43);
	color        : white;
	padding      : 10px 0;
	margin-bottom: 20px;
	display      : none;
}

#new_card{
	.black-button, .purple-button{
		display                : block;
		-webkit-font-smoothing : antialiased;
		-moz-osx-font-smoothing: grayscale;
		border                 : 0px;
		text-transform         : uppercase;
		padding                : 12px 0;
		letter-spacing         : 1px;
		font-size              : 14px;
		-webkit-border-radius  : 0;
	  -moz-border-radius     : 0;
	  border-radius          : 0;
	}

	.green-button{
		background     : rgb(61, 215, 121);
		text-decoration: none;
	}

	.or-separator{
		margin     : 20px 0;
		font-weight: bold;
		font-style : italic;
	}
}

/* _toolbar */

.toolbar{
	position  : fixed;
	bottom    : 0;
	right     : 0;
	width     : calc(100% - 70px);
	width     : -webkit-calc(100% - 70px);
	width     : -moz-calc(100% - 70px);
	z-index   : 500;
	background: rgb(39, 211, 106);
	text-align: center;

	&:hover{
		background: rgb(61, 215, 121);
	}

	.fa-spinner{
		font-size: 29px;
		color    : white;
		padding  : 28px;
	}
}

.empty-toolbar{
	display: none;
}

.checkout-total, .checkout-button{
	display: inline-block;
}

.checkout-total{
	font-size  : 30px;
	padding    : 25px;
	color      : white;
	float      : left;
	font-weight: 100;

	sup{
		color                : white;
		font-size            : 13px;
		font-style           : italic;
		background           : rgba(255,255,255,0.2);
		padding              : 5px 8px;
		-webkit-border-radius: 5px;
	  -moz-border-radius   : 5px;
	  border-radius        : 5px;
	}
}

.checkout-button{
	float          : right;
	border-left    : 1px solid rgba(255,255,255,0.3);
	color          : white;
	text-decoration: none;
	padding        : 31px 50px;
	font-size      : 20px;
}

/* _place_order */

.close-section{
	width          : 100%;
	float          : left;
	display        : inline-block;
	color          : white;
	background     : #ebebeb;
	text-decoration: none;
	font-size      : 18px;
	padding        : 30px 25px;
	cursor         : pointer;
	margin-bottom  : 30px;

	.close-section-header{
		text-transform: uppercase;
		letter-spacing: 1px;
		font-family   : 'Montserrat';
		color         : #777;
	}

	i{
		float: right;
		color: #777;
	}

	&:hover{
		opacity: 0.9;
	}
}

#checkout-category-list{
	margin-top: 30px;
}

.checkout-category-name{
	color                  : #444;
	text-transform         : uppercase;
	margin-bottom          : 5px;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.checkout-product-list{
	margin-bottom: 30px;
}

.checkout-product-row{
	width: 100%;

	.item-box{
		&:nth-child(3n+1){
			margin-right: 0.6%;
		}

		&:nth-child(3n+3){
			margin-left: 0.6%;
		}
	}
}

.item-box{
	position: relative;
	float   : left;
	width   : calc(100%/3 - 0.4%);
	width   : -webkit-calc(100%/3 - 0.4%);
	width   : -moz-calc(100%/3 - 0.4%);
}

.checkout-product{
	padding: 5px;
}

.add-productless-item{
	padding                : 21px 5px;
	text-align             : center;
	font-size              : 15px;
	text-align             : center !important;
	font-weight            : 100;
	text-transform         : uppercase;
	letter-spacing         : 1px;
	color                  : #aaa;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.checkout-product, .add-productless-item{
	border               : 1px solid #ddd;
	background           : rgb(252,252,252);
	-webkit-border-radius: 3px; 
  -moz-border-radius   : 3px; 
  border-radius        :3px;
  width                : 100%;
	margin-top           : 2px;
	margin-bottom        : 2px;
	text-align           : left;
	cursor               : pointer;
	position             : relative;

  &:hover{
  	background: white;
  	box-shadow: 0 1px 3px #ddd inset;
  }

  &:focus{
  	outline-width: 0;
  }

	img, .product-name, .product-price, .small-blank-image{
		float: left;
	}

	img, .small-blank-image{
		width : 50px;
		height: 50px;
	}

	.small-blank-image{
		background: #eee;
	}

	.product-name, .product-price{
		margin-left: 10px;
		width      : calc(100% - 60px);
		width      : -webkit-calc(100% - 60px);
		width      : -moz-calc(100% - 60px);
		color      : black;
	}

	.product-name{
		padding-top: 7px;
		font-weight: bold;
		font-size  : 15px;
	}

	.product-price{
		font-size : 12px;
		margin-top: 2px;
	}
}

.selected-product{
	background: rgb(254, 252, 210) !important;
}


/* _show */

#show-customer-container{
	width        : 100%;
	margin-bottom: 20px;

	.customer-action{
		width          : 100%;
		float          : left;
		display        : inline-block;
		color          : white;
		text-decoration: none;
		text-align     : center;
		font-size      : 18px;
		padding        : 30px 0;
		text-transform : uppercase;
		letter-spacing : 1px;
		font-family    : 'Montserrat';

		&:hover{
			opacity: 0.9;
		}
	}

	.place-order-link{
		background: rgb(39, 211, 106);
	}

	.order-history-link{
		background: rgb(34, 125, 189);
	}

	.details-link{
		background: rgb(146, 60, 175);
	}

	.exit-customer-container{
		margin-bottom: 20px;
		font-weight  : bold;
		background   : #ebebeb;
		cursor       : pointer;
		padding      : 20px 20px;
		border-left  : 5px solid black;

		&:hover{
			opacity: 0.8;
		}

		.customer-name, .exit-show{
			color    : #777;
			font-size: 15px;
		}
		
		.customer-name{
			float: left;
		}

		.exit-show{
			float: right;
		}
	}

}


/* _details */

#customer-details{
	width        : 100%;
	margin-bottom: 30px;
}

#customer-details table{
	width          : 100%;
	border-collapse: collapse;

	tr{
		td{
			padding  : 12px;
			font-size: 13px;
			border   : 1px solid #ddd;

			&:first-child{
				font-weight: bold;
				background : #ebebeb;
				color      : #777;
			}

			&:last-child{
				padding: 5px;
			}
		}
	}

	select{
		background: white;
		border    : 1px solid #ddd;
		height    : 30px;
		width     : 100%;
		font-size : 13px;
		padding   : 6px;

		&:focus{
			outline-width: 0;
		}
	}
}


/* _customer */

.customer{
	display        : block;
	padding        : 20px;
	border-left    : 5px solid #ebebeb;
	font-size      : 15px;
	color          : black;
	text-decoration: none;

	&:focus, &:hover{
		color          : black;
		border-left    : 5px solid black;
		background     : #f8f8f8;
		text-decoration: none;
	}
}

/* _order_history */

#order-history{
	margin-bottom: 30px;
}