/* error messages */

#error_explanation{
	text-align: left;
	
	h2{
		font-size: 16px;
		color    : rgb(192, 57, 43);
	}

	ul{
		padding-left: 15px;

		li{
			font-size: 13px;
			color    : rgb(192, 57, 43);
		}
	}
}

/* users/registrations/edit */

.cancel-account{
	float    : left;
	display: inline-block;
	color    : rgb(192, 57, 43);
	font-size: 13px;

	&:hover{
		color: rgba(192, 57, 43, 0.8);
	}
}

/* users/registrations/new */

.signup-intro{
	text-align             : center;
	font-family            : Helvetica, sans-serif;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-top             : 120px;

	h1{
		font-size  : 28px;
		font-weight: 100;
	}

	p{
		font-size  : 14px;
		font-weight: 100;
		color      : rgb(110,110,110);
	}
}

#new_user, .edit_user{
	max-width: 700px;
	margin   : 0 auto;

	.form-column{
		width: 50%;
		float: left;

		label{
			margin-top: 30px;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			border-bottom-color: rgb(95, 106, 125);
			border-bottom-style: none;
			border-bottom-width: 0px;
			border-image-outset: 0px;
			border-image-repeat: stretch;
			border-image-slice: 100%;
			border-image-source: none;
			border-image-width: 1;
			border-left-color: rgb(95, 106, 125);
			border-left-style: none;
			border-left-width: 0px;
			border-right-color: rgb(95, 106, 125);
			border-right-style: none;
			border-right-width: 0px;
			border-top-color: rgb(95, 106, 125);
			border-top-style: none;
			border-top-width: 0px;
			box-sizing: border-box;
			color: rgb(95, 106, 125);
			cursor: default;
			display: block;
			font-family: Helvetica, sans-serif;
			font-size: 12px;
			font-stretch: normal;
			font-style: normal;
			font-variant: normal;
			font-weight: bold;
			height: 16px;
			line-height: 16px;
			margin-bottom: 5px;
			padding-top: 0px;
			vertical-align: baseline;
			visibility: visible;
		}

		label, .default-input{
			width: 100%;
		}
	}

	.column-one{
		padding-right: 1.5%;		
	}

	.column-two{
		padding-left: 1.5%;
	}

	.signup-top-divider{
		margin: 40px 0 5px 0;
	}

	.signup-bottom-divider{
		margin: 40px 0;
	}

	.blue-button{
		float: right;
	}
}

.signup-footer{
	font-size              : 13px;
	font-family            : Helvetica, sans-serif;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
	color                  : rgb(110,110,110);
	font-weight            : 100;
	float                  : left;
	margin                 : 0;
	padding                : 0;

	a{
		text-decoration: none;
		color          : rgb(41, 150, 204);
	}
}


/* users/registrations/edit */

.signin-form{
	padding-top: 150px;
	max-width: 400px;
	margin: 0 auto;

	.signin-header{
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
		letter-spacing: 1.5px;
	}

	.sexy-divider{
		margin: 40px 0;
	}

	.default-input, .blue-button{
		margin-bottom: 20px;
		width: 100%;
	}

	.signin-form-footer{
		text-align             : center;
		font-size              : 13px;
		font-family            : Helvetica, sans-serif;
		-webkit-font-smoothing : antialiased;
		-moz-osx-font-smoothing: grayscale;
		color                  : rgb(110,110,110);
		font-weight            : 100;
		margin                 : 0;
		padding                : 0;

		a{
			text-decoration: none;
			color          : rgb(41, 150, 204);
		}
	}
}

/* users/registrations/new, sessions/new, passwords/new, users/registrations/edit */

.signup-logo{
	border       : 3px solid black;
	color        : black;
	padding      : 9px 21px 9px 18px;
	font-style   : italic;
	background   : white;
	display      : inline-block;
	margin-bottom: 25px;
}

.form-section{
	margin-bottom        : 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius   : 5px;
	border-radius        : 5px;

  p{
  	color        : #444;
  	font-size    : 12px;
  	text-align   : left;
  	font-style   : italic;
  	display      : block;
  	margin-top   : 10px;
  	margin-bottom: 0px;
  }

	label{
		color           : white;
		display         : block;
		text-align      : left;
		font-weight     : bold;
		font-size       : 12px;
		letter-spacing  : 1px;
		font-family     : 'Montserrat';
		text-transform  : uppercase;
		background-color: #ebebeb;
		padding         : 10px;
		color           : #444;

		span{
			color       : #888;
			display     : inline-block;
			margin-right: 5px;
		}
	}

	input[type='text'], input[type='email'], input[type='password']{
		font-size: 13px !important;
		&:focus, &:hover{
			border-left: 5px solid rgb(61, 215, 121) !important;
		}
	}

	#card_month, #card_year{
		width: 50%;
		float: left;
	}

	input[type='submit']{
		background: rgb(61, 215, 121) !important;
	}
}

/* sessions/new */

#remember-me{
	float        : left;
	margin-top   : 15px;
	margin-bottom: -5px;

	input[type="checkbox"], label{
		float: left;
	}

	input[type="checkbox"]{
		width      : 10px;
		margin-top : 4px;
		margin-left: 0;
	}

	label{
		font-size: 14px;
	}
}

/* shared/_links */

.shared-links{
	width     : 90%;
	padding   : 25px 0 40px 0;
	margin    : 0 auto;
	max-width : 400px;
	text-align: center;
	font-size : 13px;

	a{
		color        : black;
		display      : inline-block;
		margin-right : 8px;
		margin-bottom: 5px;

		&:hover{
			color: rgba(0,0,0,0.8);
		}
	}
}

