/* _timesheet */

.exit-timesheet{
	margin-bottom: 20px;
	font-weight  : bold;
	background   : #ebebeb;
	cursor       : pointer;
	padding      : 20px 20px;
	border-left  : 5px solid rgb(146, 60, 175);

	&:hover{
		opacity: 0.8;
	}

	.employee-name, i{
		color    : #777;
		font-size: 15px;
	}
	
	.employee-name{
		float: left;
	}

	i{
		float: right;
	}
}

#new_checkin, .edit_checkin{
	input[type="submit"]{
		margin-bottom: 20px;
	}
}

#checkin-list{
	width          : 100%;
	text-align     : center;
	border-collapse: collapse;
	margin-bottom  : 20px;

	th, td{
		padding  : 15px;
		border   : 1px solid #ddd;
		font-size: 14px;
	}

	th{
		font-weight: bold;
		background : #ebebeb;
		color      : #777;
	}

	td{
		position: relative;
	}
}

.show-more{
	display        : block;
	width          : 100%;
	background     : whitesmoke;
	color          : #777;
	text-align     : center;
	text-decoration: none;
	padding        : 14px 0;
	margin-bottom  : 20px;
	font-size      : 14px;

	&:hover{
		background: #f0f0f0;
	}
}

.edit-employee-link{
	display      : inline-block;
	margin-bottom: 20px;
	color        : rgb(146, 60, 175);
	font-size    : 14px;

	&:hover{
		color: rgba(146, 60, 175, 0.8);
	}
}

/* _employee */

.employee{
	display        : block;
	padding        : 20px;
	border-left    : 5px solid #ebebeb;
	font-size      : 15px;
	color          : black;
	text-decoration: none;

	&:focus, &:hover{
		color          : black;
		border-left    : 5px solid rgb(146, 60, 175);
		background     : #f8f8f8;
		text-decoration: none;
	}
}