/* _update_price */

.update-price{
	position: fixed;
	top     : 0;
	left    : 0;
	width   : 100%;
}


/* _cart_item */


#item_quantity{
	position             : absolute;
	top                  : 2px;
	right                : 0;
	background           : rgb(254, 252, 210);
	width                : 60px;
	text-align           :center;
	font-size            : 21px;
	padding              : 18px 0;
	border               : 1px solid #ddd;
	cursor               : pointer;
	-webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius   : 0 3px 3px 0;
  border-radius        : 0 3px 3px 0;

	&:focus{
		outline-width: 0;
	}
}

.delete-item{
	position       : absolute;
	top            : 8px;
	left           : 6px;
	font-size      : 30px;
	padding-top    : 4px;
	background     : white;
	vertical-align : middle;
	width          : 50px;
	height         : 50px;
	text-align     : center;
	color          : #444;
	border         : 1px solid #ebebeb;
	text-decoration: none;

	&:hover{
		background: rgb(192, 57, 43);
		color     : white;
		border    : 1px solid rgb(192, 57, 43);
	}
}