/* _preloaded_categories */

#preloaded-categories{
	display:none;

	img{
		width : 50px;
		height: 50px;
	}
}

/* _back_to_top */

.back-to-top{
	position      : fixed;
	top           : 10px;
	right         : 35px;
	background    : black;
	color         : white;
	padding       : 9px 18px;
	font-size     : 11px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	cursor        : pointer;
	display       : none;
	z-index       : 5000;
}

/* _sidebar */

#sidebar a {
  position: relative;
  display : inline;
}

#sidebar a span {
  position     : absolute;
  padding      : 0 20px;
  color        : #FFFFFF;
  background   : #000000;
  height       : 40px;
  line-height  : 40px;
  text-align   : center;
  visibility   : hidden;
  border-radius: 6px;
  font-size    : 15px;
  font-weight  : bold;
  margin-top   : -20px !important;
  margin-left  : 15px;
  box-shadow   : 0 1px 3px white;
}

#sidebar a span:after {
  content      : '';
  position     : absolute;
  top          : 50%;
  right        : 100%;
  margin-top   : -8px;
  width        : 0; height: 0;
  border-right : 8px solid #000000;
  border-top   : 8px solid transparent;
  border-bottom: 8px solid transparent;
}

#sidebar a:hover span {
  visibility        : visible;
  opacity           : 1;
  left              : 100%;
  top               : 50%;
  margin-top        : -20px;
  margin-left       : 25px;
  z-index           : 999;
  -webkit-transition: 0.5s;
  -moz-transition   : 0.5s;
  -o-transition     : 0.5s;
  transition        : 0.5s;
}

#sidebar{
	width     : 70px;
	height    : 100%;
	background: black;
	position  : fixed;
	top       : 0;
	left      : 0;
	z-index   : 10;
	text-align: center;

	.selected{
		color     : white;
		background: rgba(255,255,255,0.15);
	}

	a{
		display              : inline-block;
		color                : rgba(255,255,255,0.3);
		font-size            : 28px;
		margin-left          : -1px;
		padding              : 7px 0;
		width                : 50px;
		margin-top           : 12px;
		-webkit-border-radius: 3px;
	  -moz-border-radius   : 3px;
	  border-radius        : 3px;
	  position             : relative;

		&:hover{
			color: white;
		}
	}

	.fa-search-plus{
		transform: scale(1.1,1.1);
	}

	.urgent-link{
		background: white;
	}

	.fa-exclamation-triangle{
		padding-bottom: 3px;
		color         : black;
	}

	.fa-clock-o{
		padding-bottom: 3px;
		transform     : scale(1.1,1.1);
	}

	.fa-search-plus{
		padding-bottom: 4px;
	}

	.fa-bar-chart-o{
		padding-bottom: 3px;
	}

	.fa-bars{
		padding-bottom: 2px;
	}

	.fa-cog{
		padding-bottom: 2px;
	}

	.signout-link{
		position: fixed;
		bottom  : 12px;
		left    : 13px;
	}
}

/* application */

#yield-container{
	position  : relative;
	min-height: 100%;
	padding   : 25px 25px 25px 95px;
}



.full-width{
	padding: 0 !important;

	.alert{
		width: 100% !important;
	}
}

.page-loading{
	position  : fixed;
	width     : calc(100% - 70px);
	width     : -webkit-calc(100% - 70px);
	width     : -moz-calc(100% - 70px);
	z-index   : 1000;
	top       : 40%;
	right     : 0;
	text-align: center;

	i{
		font-size: 50px;
	}
}

/* _spinner */

.uploading-file{
	font-size: 40px !important;
	margin   : 57px 0;
}

/* _header */

.transparent-header{
	background: rgba(255,255,255,0.1) !important;

	.header-logo{
		float: left;
		margin-left: 20px;
	}
}

#header{
	background: black;
	margin    : 0;
	text-align: center;
	position  : absolute;
	top       : 0;
	left      : 0;
	width     : 100%;
	padding   : 20px 0;
	z-index   : 1000;

	.header-logo{
		border               : 6px solid white;
		padding              : 4px 12px;
		font-size            : 18px;
		color                : white;
		text-decoration      : none;
		display              : inline-block;
		-webkit-border-radius: 5px;
		-moz-border-radius   : 5px;
		border-radius        : 5px;
		font-weight          : bold;
	}

	.header-links{
		position: absolute;
		top: 30px;
		right: 20px;

		a{
			color: white;
			display: inline-block;
			margin-left: 30px;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 11px;
			letter-spacing: 1.5px;
		}
	}
}