/* _new */

#new_message{
	label{
		display      : block;
		text-align   : left;
		font-weight  : bold;
		margin-bottom: 10px;
		font-size    : 14px;
	}

	select {
		border-radius     : 0;
		border-left       : 5px solid #ebebeb;
		border-top        : 0;
		border-right      : 0;
		border-bottom     : 0;
		height            : 47px;
		padding           : 0 14px;
		font-size         : 15px;
		-webkit-appearance: none;
    -moz-appearance   : none;
    text-indent       : 1px;
    text-overflow     : '';
    margin-bottom     : 10px;

		&:focus, &:hover{
			cursor       : text;
			outline-width: 0;
			border-left  : 5px solid black;
			background   : #f8f8f8;
		}
	}

	select::-ms-expand {
	  display: none;
	}

	textarea{
		height: 100px !important;
	}
}