/* _urgent_order */

.urgent-order{
	width                : 49%;
	float                : left;
	padding              : 25px 25px 105px 25px;
	margin-bottom        : 2%;
	box-shadow           : 0 1px 3px #ddd;
	-webkit-border-radius: 3px; 
  -moz-border-radius   : 3px; 
  border-radius        : 3px;
  position             : relative;
  background           : white;

  .arrow{
  	display      : none;
  	position     : absolute;
  	border-top   : 8px solid transparent;
		border-bottom: 8px solid transparent;
		top          : 15px;
		z-index      : 110;
  }

  .urgent-order-items{
  	display              : none;
  	position             : absolute;
  	top                  : -14px;
  	width                : 180px;
  	list-style           : none;
  	padding              : 15px;
  	background           : rgb(60,60,60);
  	color                : white;
  	font-size            : 14px;
  	box-shadow           : 0 1px 3px #ddd;
  	z-index              : 100;
		-webkit-border-radius: 5px;
	  -moz-border-radius   : 5px;
	  border-radius        : 5px;

	  li{
	  	margin-bottom: 8px;

	  	&:last-child{
	  		margin-bottom: 0;
	  	}
	  }
  }

  &:hover{
  	.urgent-order-items, .arrow{
  		display: block;
  	}
  }

  .rack-order-button{
  	position   : absolute;
  	top        : 25px;
  	right      : 25px;
  	width      : 100px;
  	text-align : center;
  	padding    : 10px 0;
  	font-weight: bold;
  }

  .urgent-order-id{
  	font-weight   : bold;
  	font-size     : 17px;
  	text-transform: uppercase;
  	letter-spacing: 1.5px;
  	font-family   : 'Helvetica';
  }

  .urgent-order-name, .urgent-order-phone{
  	font-size: 14px;
  	color    : #aaa;

  	i{
  		margin-right: 3px;
  	}
  }

  .urgent-order-name{
  	margin-top   : 15px;
  	margin-bottom: 15px;
  }

	#order_note{
		position             : absolute;
		bottom               : 0;
		left                 : 0;
		width                : 100%;
		height               : 81px;
		padding              : 10px 25px;
		font-size            : 14px;
		-webkit-border-radius: 0 0 3px 3px;
	  -moz-border-radius   : 0 0 3px 3px;
	  border-radius        : 0 0 3px 3px;
	  resize               : none;
	  line-height          : 20px;
	  -webkit-border-image : -webkit-linear-gradient(left, rgba(0,0,0,0.02), rgba(0,0,0,0.15) 10%, rgba(0,0,0,0.15) 90%, rgba(0,0,0,0.02)) 100% 0;
		border-bottom-width  : 0px;
		border-top-width     : 1px;

		&:focus{
			outline-width: 0;
			background   : rgb(254, 252, 210);
		}
	}
}


/* _receipt */

@media screen{
	#receipts{
		background: white;
		width: 100%;
		text-align: center;
		display: none;

		.pickup-date{
			font-size: 10px;
			text-align: right;
			padding: 15px 20px;
			font-style: italic;
			border-bottom: 1px solid #aaa;
		}

		.receipt-order-number{
			font-weight: bold;
			font-size: 25px;
			margin-top: 30px;
			text-transform: uppercase;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			text-decoration: underline;
		}

		svg{
			display: none;
		}

		.store-name, .store-phone, .store-address{
			line-height: 25px;
			font-size: 15px;
			display: none;
		}

		.store-name{
			margin-top: 25px;
		}

		.store-phone{
			margin-bottom: 20px;
		}

		.receipt-name{
			font-weight: bold;
			font-size: 20px;
			margin-top: 40px;
			margin-bottom: 20px;
		}

		.receipt-starch{
			font-style: italic;
			font-size: 13px;
			margin-bottom: 20px;
		}

		table{
			width: 100% !important;
			padding: 20px;
			margin-bottom: 20px;

			tr{
				td{
					text-align: right;
					padding: 5px 0;
					font-size: 13px;
					min-width: 50px;
				}

				td:first-child{
					text-align: left;
				}

				&:last-child td{
					padding: 15px 0;
					font-size: 16px;
					font-weight: bold;
					border-top: 1px solid #aaa;
				}
			}
		}

		.payment-method{
			text-align: right;
			font-size: 10px;
			padding: 15px 20px;
			border-top: 1px solid #aaa;
			border-bottom: 1px solid #aaa;
		}
	}
}

@media print{
	body{
		visibility: hidden;
		position  : fixed;
		top       : -10000px;
		right     : -10000px;
		height    : 1px;
	}

	#receipts{
		display   : block !important;
	}

	#receipts{
		background: white;
		width     : 100%;
		text-align: center;
		display   : none;

		.pickup-date{
			font-size    : 23px;
			text-align   : right;
			padding      : 20px;
			font-style   : italic;
			border-bottom: 1px solid #aaa;
		}

		.receipt-order-number{
			font-weight            : bold;
			font-size              : 45px;
			margin-top             : 60px;
			text-transform         : uppercase;
			-webkit-font-smoothing : antialiased;
			-moz-osx-font-smoothing: grayscale;
			text-decoration        : underline;
		}

		.store-name, .store-phone, .store-address{
			line-height: 25px;
			font-size  : 25px;
		}

		.store-name{
			margin-top: 55px;
		}

		.store-address{
			margin-top   : 17px;
			margin-bottom: 17px;
		}

		.store-phone{
			margin-bottom: 70px;
		}

		.receipt-name{
			font-weight  : bold;
			font-size    : 40px;
			margin-top   : 55px;
			margin-bottom: 50px;
		}

		table{
			width        : 100% !important;
			padding      : 20px;
			margin-bottom: 45px;

			tr{
				td{
					text-align: right;
					padding   : 5px 0;
					font-size : 21px;
					min-width : 50px;
				}

				td:first-child{
					text-align: left;
				}

				&:last-child td{
					padding    : 15px 0;
					font-size  : 25px;
					font-weight: bold;
					border-top : 1px solid #aaa;
				}
			}
		}

		.payment-method{
			text-align   : right;
			font-size    : 23px;
			padding      : 20px;
			border-top   : 1px solid #aaa;
			font-style   : italic;
		}
	}
}

@page{
	margin: 0;
}


/* _tagless_orders */
#tagless-order-list{
	max-height: 400px;
	scroll    : auto;
}


/* _rack_order, _tag_order */

.no-rack-results, .no-tag-results{
	margin-top : 20px;
	font-weight: bold;
	font-family: 'PT Sans';
	font-size  : 20px;
	background : rgb(192, 57, 43);
	color      : white;
	padding    : 10px 0;
}

.tag-order{
	position: relative;
}

/* _pick_up_order */

.unpaid-order{
	background: rgb(61, 215, 121) !important;
}

.pick-up-order{
	background           : black;
	margin-bottom        : 10px;
	padding              : 10px;
	-webkit-border-radius: 3px; 
  -moz-border-radius   : 3px; 
  border-radius        :3px;
  color                : white;

	.pick-up-message{
		float      : left;
		padding-top: 9px;
		font-size  : 14px;

		span{
			display              : inline-block;
			letter-spacing       : 1.5px;
			background           : white;
			color                : black;
			padding              : 10px 15px;
			margin-top           : -10px;
			margin-right         : 10px;
			-webkit-border-radius: 3px; 
		  -moz-border-radius   : 3px; 
		  border-radius        :3px;
		  box-shadow           : 0 1px 3px rgba(0,0,0,0.5) inset;
		}
	}

	.black-button, .white-button{
		float          : right;
		padding        : 10px 15px;
		text-align     : center;
		text-decoration: none;
	}

	.black-button{
		width     : 100px;
		background: rgb(110,110,110);
		&:hover{
			background: rgb(100,100,100);
		}
	}

	.white-button{
		width     : 140px;
		background: rgba(255,255,255,0.3);
		color     : white;

		&:hover{
			background: rgba(255,255,255,0.2);
		}
	}
}


/* _order */

.order{
	display        : block;
	padding        : 20px;
	border-left    : 5px solid #ebebeb;
	font-size      : 15px;
	color          : black;
	text-decoration: none;

	&:focus, &:hover{
		color          : black;
		border-left    : 5px solid rgb(61, 215, 121);
		background     : #f8f8f8;
		text-decoration: none;
	}

	span{
		float: right;
		color: #aaa;
	}
}


/* _order_details */

.order-details{
	margin-bottom: 30px;
}

.print-receipt, .delete-order-link{
	margin-top           : 5px;
	margin-bottom        : 25px;
	display              : inline-block;
	color                : white;
	text-decoration      : none;
	padding              : 10px 20px;
	-webkit-border-radius: 3px;
  -moz-border-radius   : 3px;
  border-radius        : 3px;
  font-size            : 13px;

  i{
  	transform: scale(1.1,1.1);
  	margin-right: 3px;
  }
}

.print-receipt{
	background: rgb(0,0,0);

	&:hover{
		background: rgba(0,0,0, 0.8);
	}
}

.delete-order-link{
	background: rgb(228, 54, 46);

	&:hover{
		background: rgba(228, 54, 46, 0.9);
	}
}

.exit-order-container{
	margin-bottom: 20px;
	font-weight  : bold;
	background   : #ebebeb;
	cursor       : pointer;
	padding      : 20px 20px;
	border-left  : 5px solid rgb(61, 215, 121);

	&:hover{
		opacity: 0.8;
	}

	.order-number, .exit-button{
		color    : #777;
		font-size: 15px;
	}
	
	.order-number{
		float: left;
	}

	.exit-button{
		float: right;
	}
}

.details-table{
	width          : 100%;
	border-collapse: collapse;

	tr{

		td{
			padding  : 12px;
			font-size: 13px;
			border   : 1px solid #ddd;

			&:first-child{
				width      : 150px;
				font-weight: bold;
				background : #ebebeb;
				color      : #777;
			}
		}

		img{
			float : left;
			height: 20px;
		}

		.last4{
			float  : left;
			padding: 2px 0 0 10px;
		}
	}

	span{
		color: #aaa;
	}
}


.items-table{
	margin-top             : 20px;
	width                  : 100%;
	border-collapse        : collapse;
	font-size              : 13px;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;

	tr{
		border-bottom: 1px solid #ddd;

		&:first-child{
			border-top: 1px solid #ddd;
		}

		th{
			background: #ebebeb;
			color     : #777;
		}

		td, th{
			padding   : 10px;
			text-align: center;
		}
	}
}