/* home */

#intro{
  -webkit-background-size: auto, auto, 100% 1000px, 100% 1000px;
  background-image       : radial-gradient(at 0px 100%, rgba(0,0,0,0.2) 0px, rgba(0,0,0, 0.8) 60%), 
                           radial-gradient(at 90% 100%, rgba(0,0,0, 0.8) 0px, rgba(0,0,0, 0.2) 40%), 
                           radial-gradient(at 50% 0%, rgba(0,0,0, 0.2) 0px, rgba(0,0,0,0.8) 75%), 
                           radial-gradient(at 100% 0%, rgba(0,0,0, 0.8) 0px, rgba(0,0,0,0.2) 57%);
  background-repeat      : no-repeat, no-repeat, no-repeat, no-repeat;
  background-size        : auto, auto, 100% 1000px, 100% 1000px;
  padding                : 200px 0;
  background-repeat      : no-repeat;
  -webkit-background-size: cover;
  -moz-background-size   : cover;
  -o-background-size     : cover;
  background-size        : cover;
  text-align             : center;
  font-family            : 'Helvetica';
  position               : relative;

  .home-h1{
  	-webkit-font-smoothing : antialiased;
		-moz-osx-font-smoothing: grayscale;
  	color                  : white;
  	font-size              : 2.8vw;
  	font-weight            : 100;
  }

  .home-h2{
  	font-weight            : 100;
  	color                  : white;
  	font-size              : 1.2vw;
  	-webkit-font-smoothing : antialiased;
		-moz-osx-font-smoothing: grayscale;
		padding-top            : 25px;
  	padding-bottom         : 40px;
  }

  .blue-button{
  	width: 250px;
    margin: 0 auto;
  }

  .learn-more-wrap{
  	position  : absolute;
  	bottom    : 10px;
  	left      : 0;
  	width     : 100%;
  	text-align: center;
  }

  .learn-more{
    color                  : white;
    cursor                 : pointer;
    font-size              : 13px;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;

  	&:hover{
  		color: rgba(255,255,255,0.8);
  	}
  }
}

#feature-list-wrap{
  background: white;

  h1{
    text-align             : center;
    font-size              : 1.8vw;
    font-weight            : bold;
    padding-top            : 60px;
    padding-bottom         : 0px;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight            : 100;
  }

  h2{
    text-align             : center;
    font-size              : 1.15vw;
    font-weight            : bold;
    margin-bottom          : 40px;
    margin-left            : auto;
    margin-right           : auto;
    color                  : rgb(110,110,110);
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight            : 100;
    max-width              : 650px;
    line-height            : 25px;
  }
}

#feature-list{
  margin   : 0 auto;
  padding-bottom: 50px;
  width    : 90%;
  max-width: 900px;

  .feature{
    float        : left;
    text-align   : center;
    width        : 50%;
    padding      : 25px;
    margin-bottom: 15px;

    img{
      width                : 100%;
      pointer-events       : none;
      -webkit-border-radius: 5px;
      -moz-border-radius   : 5px;
      border-radius        : 5px;
      border               : 1px solid #ddd;
      box-shadow           : 0 1px 3px #ddd;
      opacity              : 0.4;
    }

    label{
      font-weight            : bold;
      letter-spacing         : 1px;
      font-size              : 16px;
      text-transform         : uppercase;
      margin-top             : 20px;
      margin-bottom          : 15px;
      display                : block;
      color                  : rgb(44, 61, 82);
      -webkit-font-smoothing : antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    p{
      font-size              : 14px;
      line-height            : 24px;
      -webkit-font-smoothing : antialiased;
      -moz-osx-font-smoothing: grayscale;
      color                  : rgb(110,110,110);
    }

    &:hover{
      img{
        opacity: 1;
      }
    }
  }
}

#signup-now{
  text-align: center;

  a{
    width: 300px;
    margin: 40px auto;
  }
}

/* terms */

#terms-container{
	width    : 90%;
	max-width: 800px;
	margin   : 50px auto;

	.terms-header{
		text-align   : center;
		font-weight  : bold;
		font-size    : 30px;
		margin-bottom: 50px;
	}

	p, li, label{
		font-size: 13px;
	}

	label{
		font-weight: bold;
		display    : block;
		margin-top : 40px;
	}

	p{
		line-height: 18px;
	}
}