/* _product */

.product{
	float                : left;
	width                : 24%;
	border               : 1px solid #ddd;
	padding              : 5px;
	margin               : 0.5%;
	background           : rgb(252,252,252);
	-webkit-border-radius: 3px; 
  -moz-border-radius   : 3px; 
  border-radius        :3px;
  height               : 62px;
  overflow-y           :hidden;

  &:hover{
  	background: white;
  	box-shadow: 0 1px 3px #ddd inset;
  }

	img, .product-name, .product-price, .small-blank-image{
		float: left;
	}

	img, .small-blank-image{
		width : 50px;
		height: 50px;
	}

	.small-blank-image{
		background: #eee;
	}

	.product-name, .product-price{
		margin-left: 10px;
		width      : calc(100% - 60px);
		width      : -webkit-calc(100% - 60px);
		width      : -moz-calc(100% - 60px);
		color      : black;
	}

	.product-name{
		padding-top: 7px;
		font-weight: bold;
		font-size  : 15px;
		height     : 25px;
		overflow-y :hidden;
	}

	.product-price{
		font-size : 12px;
		margin-top: 2px;
	}
}