/* user_tutorial */

.user-tutorial{
	padding        : 20px;
	border-left    : 5px solid #ebebeb;
	font-size      : 14px;
	display        : block;
	text-decoration: none;
	color          : black;

	span{
		font-weight : bold;
		display     : inline-block;
		margin-right: 5px;
		color       : #aaa;
	}

	&:hover{
		border-left: 5px solid black;
		background : #f8f8f8;
	}
}

/* index */

.add-tutorial-button{
	width         : 100%;
	text-align    : center;
	font-size     : 20px;
	background    : rgb(245,245,245);
	padding-top   : 5px;
	padding-bottom: 10px;
	cursor        : pointer;
	color         : #444;

	&:hover{
		color     : black;
		background: rgb(240,240,240);
	}
}

#tutorial-list{
	list-style: none;
	width     : 90%;
	max-width : 800px;
	margin    : 60px auto;
}

/* _tutorial */

#tutorial-list li{
	display        : block;
	border-left    : 5px solid #ebebeb;
	color          : black;
	text-decoration: none;
	cursor         : pointer;

	&:focus, &:hover{
		color          : black;
		border-left    : 5px solid black;
		background     : #f8f8f8;
		text-decoration: none;
	}

	a{
		display        : block;
		padding        : 20px;
		color          : black;
		text-decoration: none;
	}

	span{
		font-weight : bold;
		color       : #aaa;
		display     : inline-block;
		margin-right: 5px;
	}
}


/* _tutorial_details */

.exit-tutorial-container{
	margin-bottom: 20px;
	font-weight  : bold;
	background   : #ebebeb;
	cursor       : pointer;
	padding      : 20px;
	border-left  : 5px solid black;

	&:hover{
		opacity: 0.8;
	}

	.tutorial-title, .exit-button{
		color    : #777;
		font-size: 15px;
	}
	
	.order-id{
		float: left;
	}

	.exit-button{
		float: right;
	}
}

.video-wrapper {
	position      : relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top   : 25px;
	height        : 0;

	iframe{
		position: absolute;
		top     : 0;
		left    : 0;
		width   : 100%;
		height  : 100%;
	}
}

.edit_tutorial{
	margin-top: 20px;

	.update-video{
		background     : rgba(255,255,255,0);
		border         : 0;
		padding        : 0;
		display        : inline-block;
		margin-top     : 5px;
		margin-bottom  : 15px;
		color          : rgb(61, 215, 121);
		font-size      : 14px;
		text-decoration: underline;
		cursor         : pointer;

		&:focus{
			outline-width: 0;
		}

		&:hover{
			color: rgba(61, 215, 121, 0.7);
		}
	}

	textarea{
		height: 500px;
	}

	.black-button{
		margin-top             : 20px;
		-webkit-font-smoothing : antialiased;
		-moz-osx-font-smoothing: grayscale;
		display                : block;
		width                  : 100%;
		cursor                 : pointer;
		color                  : white;
		border                 : 0px;
		text-transform         : uppercase;
		padding                : 12px 0;
		letter-spacing         : 1px;
		font-size              : 14px;
		-webkit-border-radius  : 0px;
	  -moz-border-radius     : 0px;
	  border-radius          : 0px;

		&:focus{
			outline-width: 0;
		}
	}
}