/* bootstrap */

@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/dropdowns";
@import "bootstrap/tooltip";


/* form errors */

.field_with_errors{
	position: relative;

	input{
		border: 1px solid rgb(223, 51, 32) !important;
	}

	label{
		color: rgb(223, 51, 32) !important;
	}

	.error{
		display: none;
	}
}

/* divider */

.sexy-divider{
	display:block;
  border:none;
  color:white;
  height:1px;
  background:black;
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#ddd), to(#f8f8f8));
}


/* inner layout for each page */

.page-header{
	padding-bottom: 30px;
	position      : relative;

	.header-h1{
		font-size  : 18px;
		font-weight: bold;
	}

	.page-header-links{
		position  : absolute;
		top       : -14px;
		right     : 0;
		display   : inline-block;
		list-style: none;

		li{
			float      : right;
			margin-left: 35px;
		}
	}

	.add-employee-button, .add-customer-button{
		font-weight: bold;
		font-size  : 14px;
		color      : #aaa;
		margin     : 0;
		display    : inline-block;
		cursor     : pointer;
	}

	a{
		font-weight: bold;
		margin-top: -10px;
	}
}

.inner-container{
	background           : white;
	box-shadow           : 0 1px 3px #ddd;
	padding              : 30px;
	-webkit-border-radius: 3px;
  -moz-border-radius   : 3px;
  border-radius        : 3px;
}


/* buttons */

.blue-button{
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.15s;
	-webkit-transition-property: background-color;
	-webkit-transition-timing-function: ease;
	-webkit-writing-mode: horizontal-tb;
	align-items: flex-start;
	background-color: rgb(41, 150, 204);
	border-bottom-color: rgb(255, 255, 255);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(255, 255, 255);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(255, 255, 255);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(255, 255, 255);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-style: none;
	border-top-width: 0px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	font-family: Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: 40px;
	letter-spacing: 1px;
	line-height: 22px;
	max-width: 100%;
	min-width: 200px;
	padding: 10px 40px 9px 40px;
	text-align: center;
	text-decoration: none;
	text-indent: 0px;
	text-rendering: optimizelegibility;
	text-shadow: none;
	text-transform: uppercase;
	transition-delay: 0s;
	transition-duration: 0.15s;
	transition-property: background-color;
	transition-timing-function: ease;
	visibility: visible;
	word-spacing: 0px;
	writing-mode: lr-tb;

	&:hover{
		-webkit-appearance: none;
		-webkit-font-smoothing: antialiased;
		-webkit-transition-delay: 0s;
		-webkit-transition-duration: 0.15s;
		-webkit-transition-property: background-color;
		-webkit-transition-timing-function: ease;
		-webkit-writing-mode: horizontal-tb;
		align-items: flex-start;
		background-color: rgb(37, 134, 183);
		border-bottom-color: rgb(255, 255, 255);
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		border-bottom-style: none;
		border-bottom-width: 0px;
		border-image-outset: 0px;
		border-image-repeat: stretch;
		border-image-slice: 100%;
		border-image-source: none;
		border-image-width: 1;
		border-left-color: rgb(255, 255, 255);
		border-left-style: none;
		border-left-width: 0px;
		border-right-color: rgb(255, 255, 255);
		border-right-style: none;
		border-right-width: 0px;
		border-top-color: rgb(255, 255, 255);
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-top-style: none;
		border-top-width: 0px;
		box-sizing: border-box;
		color: rgb(255, 255, 255);
		cursor: pointer;
		display: block;
		font-size: 11px;
		font-style: normal;
		font-variant: normal;
		font-weight: bold;
		height: 40px;
		letter-spacing: 1px;
		line-height: 22px;
		max-width: 100%;
		min-height: 40px;
		min-width: 200px;
		text-align: center;
		text-decoration: none;
		text-indent: 0px;
		text-rendering: optimizelegibility;
		text-shadow: none;
		text-transform: uppercase;
		transition-delay: 0s;
		transition-duration: 0.15s;
		transition-property: background-color;
		transition-timing-function: ease;
		visibility: visible;
		word-spacing: 0px;
		writing-mode: lr-tb;
	}

	&:active{
		-webkit-appearance: none;
		-webkit-font-smoothing: antialiased;
		-webkit-transition-delay: 0s;
		-webkit-transition-duration: 0.15s;
		-webkit-transition-property: background-color;
		-webkit-transition-timing-function: ease;
		-webkit-writing-mode: horizontal-tb;
		align-items: flex-start;
		background-color: rgb(32, 119, 162);
		border-bottom-color: rgb(255, 255, 255);
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		border-bottom-style: none;
		border-bottom-width: 0px;
		border-image-outset: 0px;
		border-image-repeat: stretch;
		border-image-slice: 100%;
		border-image-source: none;
		border-image-width: 1;
		border-left-color: rgb(255, 255, 255);
		border-left-style: none;
		border-left-width: 0px;
		border-right-color: rgb(255, 255, 255);
		border-right-style: none;
		border-right-width: 0px;
		border-top-color: rgb(255, 255, 255);
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-top-style: none;
		border-top-width: 0px;
		box-sizing: border-box;
		color: rgb(255, 255, 255);
		cursor: pointer;
		display: block;
		font-size: 11px;
		font-style: normal;
		font-variant: normal;
		font-weight: bold;
		height: 40px;
		letter-spacing: 1px;
		line-height: 22px;
		max-width: 100%;
		min-height: 40px;
		min-width: 200px;
		text-align: center;
		text-decoration: none;
		text-indent: 0px;
		text-rendering: optimizelegibility;
		text-shadow: none;
		text-transform: uppercase;
		transition-delay: 0s;
		transition-duration: 0.15s;
		transition-property: background-color;
		transition-timing-function: ease;
		visibility: visible;
		word-spacing: 0px;
		writing-mode: lr-tb;
	}

	&:focus{
		outline-width: 0;
	}
}

.black-button{
	background: black;
}

.purple-button{
	background: rgb(146, 60, 175);
}

.green-button{
	background: rgb(61, 215, 121);
}

.black-button, .purple-button, .green-button, .white-button{
	text-decoration      : none;
	color                : white;
	border               : 0;
	padding              : 8px;
	-webkit-border-radius: 5px;
  -moz-border-radius   : 5px;
  border-radius        : 5px;
  font-size            : 13px;
  cursor               : pointer;
  width                : 100%;

  &:focus{
  	outline-width: 0;
  }

  &:hover{
  	color: white;
  }
}


/* text fields */

::-webkit-input-placeholder {
  color: rgb(196, 196, 196);
}

:-moz-placeholder { /* Firefox 18- */
  color: rgb(196, 196, 196);  
}

::-moz-placeholder {  /* Firefox 19+ */
  color: rgb(196, 196, 196);  
}

:-ms-input-placeholder {  
  color: rgb(196, 196, 196);  
}

.default-input{
	-webkit-appearance: none;
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	-webkit-box-shadow: none;
	-webkit-font-smoothing : auto;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	-webkit-writing-mode: horizontal-tb;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(255, 255, 255);
	background-image: none;
	background-origin: padding-box;
	background-size: auto;
	border-bottom-color: rgb(196, 196, 196);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(196, 196, 196);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(196, 196, 196);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(196, 196, 196);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: none;
	box-sizing: border-box;
	color: rgb(95, 106, 125);
	cursor: auto;
	display: block;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	height: 40px;
	letter-spacing: normal;
	line-height: 20px;
	outline-color: rgb(95, 106, 125);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 9px;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 9px;
	position: relative;
	text-align: start;
	text-indent: 0px;
	text-shadow: none;
	text-transform: none;
	visibility: visible;
	width: 330px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	z-index: 0;

	&:focus{
		-webkit-appearance: none;
		-webkit-background-clip: border-box;
		-webkit-background-origin: padding-box;
		-webkit-background-size: auto;
		-webkit-box-shadow: none;
		-webkit-font-smoothing: auto;
		-webkit-rtl-ordering: logical;
		-webkit-user-select: text;
		-webkit-writing-mode: horizontal-tb;
		background-attachment: scroll;
		background-clip: border-box;
		background-color: rgb(255, 255, 255);
		background-image: none;
		background-origin: padding-box;
		background-size: auto;
		border-bottom-color: rgb(41, 150, 204);
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-image-outset: 0px;
		border-image-repeat: stretch;
		border-image-slice: 100%;
		border-image-source: none;
		border-image-width: 1;
		border-left-color: rgb(41, 150, 204);
		border-left-style: solid;
		border-left-width: 1px;
		border-right-color: rgb(41, 150, 204);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: rgb(41, 150, 204);
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-top-style: solid;
		border-top-width: 1px;
		box-shadow: none;
		box-sizing: border-box;
		color: rgb(95, 106, 125);
		cursor: auto;
		display: block;
		font-size: 14px;
		font-style: normal;
		font-variant: normal;
		font-weight: 300;
		height: 40px;
		letter-spacing: normal;
		line-height: 20px;
		outline-color: rgb(95, 106, 125);
		outline-offset: 0px;
		outline-style: none;
		outline-width: 0px;
		padding-bottom: 9px;
		padding-left: 9px;
		padding-right: 9px;
		padding-top: 9px;
		position: relative;
		text-align: start;
		text-indent: 0px;
		text-shadow: none;
		text-transform: none;
		visibility: visible;
		word-spacing: 0px;
		writing-mode: lr-tb;
		z-index: 1;
	}
}

.white-input, .white-textarea{
	width                : 100%;
	border               : 1px solid #ddd;
	-webkit-border-radius: 5px; 
  -moz-border-radius   : 5px; 
  border-radius        : 5px;
  padding              : 6px;
  font-size            : 13px;

	&:focus{
		outline-width: 0;
		box-shadow   : 0 1px 3px #ddd inset;
	}
}

.default-textarea{
	width        : 100%;
	border-left  : 5px solid #ebebeb;
	border-top   : 0;
	border-right : 0;
	border-bottom: 0;
	padding      : 20px;
	font-size    : 15px;

	&:focus{
		outline-width: 0;
		border-left  : 5px solid black;
		background   : #f8f8f8;
	}
}

/* pagination */

.pagination{
	margin-top: 40px;

	a{
		background     : black;
		color          : white;
		text-decoration: none;
		padding        : 5px 9px;
	}

	.current{
		background: #27ae60;
		color     : white;
		padding   : 5px 9px;
	}

	.disabled{
		background: #e5e5e5;
		padding   : 5px 9px;
	}
}

/* hide */

.hide{
	display: none;
}

/* box sizing */
*{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing   : border-box;    /* Firefox, other Gecko */
  box-sizing        : border-box;   
}


/* form */

.rack-urgent-order, .productless-item-form, .update-price, #remember-rack-form, #new_message, #confirm-password, .edit_employee, #new_employee, #new_customer, #new_product, .edit_product, #new_card, .rack-order, .tag-order, #new_tutorial{
	text-align: center;

	input, select, textarea{
		width             : 100%;
		font-size         : 14px;
		-webkit-transition: 0.3s;
	  -moz-transition   : 0.3s;
	  -o-transition     : 0.3s;
	  transition        : 0.3s;

		&:focus{
			outline-width     : 0;
			-webkit-transition: 0.3s;
		  -moz-transition   : 0.3s;
		  -o-transition     : 0.3s;
		  transition        : 0.3s;
		}
	}

	input[type="text"], input[type="email"], input[type="password"], input[type="number"], textarea{
		border-top   : 0px;
		border-bottom: 0px;
		border-right : 0px;
		border-left  : 5px solid #ebebeb;
		padding      : 15px;
		font-size    : 14px;

		&:focus, &:hover{
			border-left  : 5px solid black;
			background   : #f8f8f8;
			outline-width: 0;
		}
	}

	textarea{
		width : 100%;
		height: 400px;
	}

	input[type="submit"], button[type="submit"]:not(.green-button){
		background: black;
	}

	input[type="submit"], button[type="submit"], a.green-button{
		margin-top             : 20px;
		-webkit-font-smoothing : antialiased;
		-moz-osx-font-smoothing: grayscale;
		display                : block;
		width                  : 100%;
		cursor                 : pointer;
		color                  : white;
		border                 : 0px;
		text-transform         : uppercase;
		padding                : 12px 0;
		letter-spacing         : 1px;
		font-size              : 14px;
		-webkit-border-radius  : 0px;
	  -moz-border-radius     : 0px;
	  border-radius          : 0px;

		&:focus{
			outline-width: 0;
		}
	}

	.alert{
		margin-bottom: 15px;
	}
}

/* alert */

.alert{
	padding                : 25px;
	font-size              : 14px;
	margin                 : 0;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align             : center;
}

.signed-in-alert{
	width      : calc(100% - 70px);
	width      : -webkit-calc(100% - 70px);
	width      : -moz-calc(100% - 70px);
	margin-left: 70px;
}

.alert-danger{
	background: rgb(223, 51, 32);
	color     : white;
}

.alert-success{
	color     : white;
	background: rgb(50,50,50);
}

/* body */

html, body{
	margin     : 0;
	padding    : 0;
	font-family: Helvetica, sans-serif;
	position   : relative;
}

.grey-background{
	background : #f8f8f8;
}