/* urgent */

.urgent-order-list{
	.urgent-order{
		&:nth-child(2n){
			margin-left: 1%;

			.urgent-order-items{
				left: -187px;
			}

			.arrow{
				left       : -7px;
				border-left: 10px solid rgb(60,60,60);
			}
		}

		&:nth-child(2n+1){
			margin-right: 1%;

			.urgent-order-items{
				right: -187px;
			}

			.arrow{
				right       : -7px;
				border-left : 0;
				border-right: 10px solid rgb(60,60,60);
			}
		}
	}
}


/* _no_customers and all other footer alerts */

#footer-alert{
	position             : fixed;
	bottom               : 40px;
	left                 : -400px;
	padding              : 15px 20px;
	border-top           : 5px solid rgb(39, 211, 106);
	border-right         : 1px solid #bbb;
	background           : white;
	width                : 400px;
	box-shadow           : 0px 2px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow      : 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow   : 0px 2px 2px rgba(0, 0, 0, 0.3);
	font-size            : 14px;
	line-height          : 20px;
	text-align           : left;
	-webkit-border-radius: 0 0 3px 0;
  -moz-border-radius   : 0 0 3px 0;
  border-radius        : 0 0 3px 0;
  z-index              : 3000;

  i{
  	float    : left;
  	color    : rgb(39, 211, 106);
  	font-size: 23px;
  	display  : block;
  	width    : 30px;
  }

  #alert-msg{
  	float: right;
  	width: calc(100% - 30px);
		width: -webkit-calc(100% - 30px);
		width: -moz-calc(100% - 30px);
  }

  ul{
  	padding-left: 15px;
  	font-style  : italic;

  	li{
  		margin-bottom: 13px;

  		&:last-child{
  			margin-bottom: 0;
  		}
  	}
  }

  p{
  	margin-top: 0;

  	&:last-child{
  		margin-bottom: 0;
  	}
  }
}

/* _tagless_orders */

#tagless-order-list{
	background: white;
	overflow-y: scroll;
}

.tagless-order{
	display   : block;
	margin-top: 10px;
	padding   : 15px;
	background: whitesmoke;
	font-size : 14px;
	color     : #444;

	&:hover{
		background: rgb(235,235,235);

		#receipts{
			display: block !important;
		}
	}

	.tagless-order-count{
		float      : left;
		font-weight: bold;
	}

	.tagless-order-date{
		float: right;
	}

	#receipts{
		display : none;
		top     : 0 !important;
		position: fixed !important;
		height  : 100% !important;
		left    : 0;
		width   : 300px;
	}
}

/* analytcs */

.datepicker{
	.active{
		background: rgb(61, 215, 121) !important;
	}
}

.date-search{

	input[type='text']{
		width  : 40%;
		float  : left;
		padding: 15px;
		border-right: 0;
		-webkit-border-radius  : 0px;
		-moz-border-radius     : 0px;
		border-radius          : 0px;
	}
	
	.black-button{
		float                  : left;
		width                  : 20%;
		font-size              : 13px;
		padding                : 12px 0;
		-webkit-border-radius  : 0px;
	  -moz-border-radius     : 0px;
	  border-radius          : 0px;
	  text-transform         : uppercase;
	  letter-spacing         : 1px;
	  -webkit-font-smoothing : antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

#charts{
	margin-top: 30px;
}

.chart-header{
	background: rgb(50,50,50);
	color     : white;
	padding   : 15px;

	span{
		float: right;
	}
}

#revenue-chart, #workload-chart{
	width: -webkit-calc(100% - 15px);
	width: -moz-calc(100% - 15px);
	width: calc(100% - 15px);
}


/* employees */

#employee-list{
	margin: 0 auto;
}


/* edit */

.cancel-account{
	width       : 90%;
	margin-left : auto;
	margin-right: auto;
	margin-top  : 40px;
	max-width   : 400px;
	text-align  : center;

	a{
		color    : rgb(192, 57, 43);
		font-size: 13px;

		&:hover{
			color: rgba(192, 57, 43, 0.8);
		}
	}
}


/* products, products/_edit_product */

#new_product, .edit_product{
	.add-product-image{
		width       : 94px;
		height      : 94px;
		float       : left;
		margin-right: 10px;
		background  : #555;
		color       : white;
		border      : 1px solid #ddd;
		font-size   : 13px;
		cursor      : pointer;
		padding     : 0;

		&:focus{
			outline-width: 0;
		}
	}

	img{
		width: 100%;
		height: 100%;
	}

	#product_name{
		float: right;
		width: calc(100% - 104px);
		width: -webkit-calc(100% - 104px);
		width: -moz-calc(100% - 104px);
	}

	#product_price, select{
		float: right;
		width: calc((100% - 104px)/2);
		width: -webkit-calc((100% - 104px)/2);
		width: -moz-calc((100% - 104px)/2);
	}

	select {
		border-radius     : 0;
		border-left       : 5px solid #ebebeb;
		border-top        : 0;
		border-right      : 0;
		border-bottom     : 0;
		height            : 47px;
		padding           : 0 14px;
		font-size         : 15px;
		background        : white;
		-webkit-appearance: none;
    -moz-appearance   : none;
    text-indent       : 1px;
    text-overflow     : '';

		&:focus, &:hover{
			cursor       : text;
			outline-width: 0;
			border-left  : 5px solid black;
			background   : #f8f8f8;
		}
	}

	select::-ms-expand {
	  display: none;
	}
}

.category-name{
	padding-left           : 10px;
	color                  : #444;
	text-transform         : uppercase;
	margin-bottom          : 5px;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#category-list{
	margin-top: -20px;

	.category-name{
		margin-top: 20px;
	}
}


.add-product-button{
	text-align           : center;
	float                : left;
	width                : 24%;
	border               : 1px solid #ddd;
	padding              : 21px 0px;
	margin               : 0.5%;
	background           : #ebebeb;
	color                : #aaa;
	-webkit-border-radius: 3px; 
  -moz-border-radius   : 3px; 
  border-radius        :3px;
  cursor               : pointer;
  height               : 62px;
  overflow-y           :hidden;
}


/* index */

#user-list{
	width    : 90%;
	max-width: 800px;
	margin   : 60px auto;
}


/* _user */

.user{
	display        : block;
	padding        : 20px;
	border-left    : 5px solid #ebebeb;
	font-size      : 15px;
	color          : black;
	text-decoration: none;

	&:focus, &:hover{
		border-left    : 5px solid black;
		background     : #f8f8f8;
		text-decoration: none;
	}

	.user-created-at{
		float: right;
		color: #aaa;
	}
}


/* show */
.productless-item-overlay{
	display: none;
}

.search-customers, #customer-list, #no-results, #order-list, #employee-list{
	margin-left : auto;
	margin-right: auto;
}

.search-customers{
	position: relative;

	input[type="text"]{
		padding: 25px 15px !important;
		width: 100%;
		cursor: pointer;
	}
}

#no-results{
	font-weight: bold;
	text-align : center;
	font-size  : 18px;
	margin     : 80px auto;
}

#customer-list, #order-list{
	margin-bottom: 10px;
	margin-top   : 30px;
}

#modal-overlay{
	position  : fixed;
	top       : 0;
	left      : 0;
	width     : 100% !important;
	height    : 100% !important;
	background: rgba(0,0,0,0.8);
	z-index   : 800;
}

.modal-footer{
	width       : 90%;
	max-width   : 500px;
	margin-left : auto;
	margin-right: auto;
}

.rack-urgent-order, .productless-item-form, .update-price, #remember-rack-form, #new_message, #new_tutorial, #confirm-password, .edit_employee, #new_employee, #new_customer, #new_product, .edit_product, #new_card, .rack-order, .tag-order{
	margin-bottom        : 20px;
	background           : white;
	padding              : 20px;
	position             : relative;
	width                : 90%;
	max-width            : 500px;
	margin-left          : auto;
	margin-right         : auto;
	margin-top           : 20px;
	-webkit-border-radius: 5px;
  -moz-border-radius   : 5px;
  border-radius        : 5px;
	border               : 8px solid rgba(30,30,30,1);

	select{
		background: white;
	}

	.exit-form{
		position             : absolute;
		top                  : -8px;
		right                : -33px;
		background           : rgb(30,30,30);
		padding              : 3px;
		-webkit-border-radius: 5px;
	  -moz-border-radius   : 5px;
	  border-radius        : 5px;
	  cursor               : pointer;

	  i{
	  	color                : white;
	  	padding              : 5px 7px;
	  	-webkit-border-radius: 5px;
		  -moz-border-radius   : 5px;
		  border-radius        : 5px;
	  }

	  &:hover{
	  	i{
	  		background: rgb(50,50,50);
	  	}
	  }
	}
}

.modal-footer{
	color    : white;
	font-size: 13px;

	span, label, a{
		display                : inline-block;
		color                  : white;
		text-decoration        : underline;
		cursor                 : pointer;
		font-weight            : 100;
		-webkit-font-smoothing : antialiased;
		-moz-osx-font-smoothing: grayscale;

		&:hover{
			color: rgba(255,255,255,0.8);
		}
	}
}

.upload-customer-form{
	display: inline;
}
