<div id="modal-overlay" class="edit-product-overlay">
	<!-- create new customer -->
	<%= simple_form_for @product, remote: true do |f| %>
		<%= f.filepicker_field :img, button_class: "add-product-image", button_text: show_image(@product), services: "COMPUTER" %>
		<%= f.input :name, placeholder: "Product Name", label: false, autofocus: true %>
		<%= f.input :cleaning_method, label: false, as: :select, collection: ["dryclean", "launder", "other"], include_blank:false %>
		<%= f.input :price, placeholder: "Price", label: false %>
		<div style="clear:both;"></div>
		<%= f.submit "Update Product" %>

		<!-- exit this form -->
		<span class="exit-form"><i class='fa fa-times'></i></span>
	<% end %>

	<!-- exit this form -->
	<div class="modal-footer">
		<% if !@product.items.any? %>
			<%= link_to "Delete", @product, remote: true, method: :delete, data: {confirm: "Sure you want to delete the product #{@product.name} ?"} %>
		<% end %>
	</div>
</div>