<%= link_to load_edit_product_path(product), remote: true, class: "product product-#{product.id}" do %>
	<% if product.img == nil || product.img == "" %>
		<div class="small-blank-image"></div>
	<% else %>
		<%= filepicker_image_tag product.img, fit: 'crop', w: 50, h: 50 %>
	<% end %>
	<div class="product-name"><%= product.name %></div>
	<div class="product-price"><%= number_to_currency(product.price, precision: (product.price.round == product.price) ? 0 : 2) %></div>

	<div style="clear:both;"></div>
<% end %>