<% if @saved %>
	//fade out and clear form
	$("#modal-overlay").fadeOut();
	$("#new_product")[0].reset();
	$("#new_product .add-product-image").html("Add Image");

	//append new product to list of products
	$("#category-<%= @product.category.id %> div:last").before("<%= j render @product %>");

	//update title
	$("title").html("Incrediclean | <%= pluralize(@product.user.products.count, 'product') %>");
<% else %>
	//clear previous error messages
	if($(".alert-danger").length){
		$(".alert-danger").remove();
	}

	//error message
	$("#new_product").prepend("<div class='alert alert-danger'>Please fill out the name and price correctly.</div>");
<% end %>