<% if @destroyed %>
	//fade out and remove product
	$(".product-<%= @product.id %>").fadeOut(function(){
		$(this).remove();
	});

	//fade out and remove edit product form
	$(".edit-product-overlay").fadeOut(function(){
		$(this).remove();
	});
<% end %>