//load modal to edit product
$("#index-products-container").prepend("<%= j render 'products/edit_product' %>");

//construct filepicker widget
var element = document.getElementById("product_img")
element.onchange = function(e){
  console.log(JSON.stringify(e.fpfile));
  onImageUpload();
};
filepicker.constructWidget(element);

//SHORT TERM FIX: autofocus if it's not yet
if(!$(".edit_product #product_name").is(":focus")){
	$(".edit_product #product_name").focus();
}