<% if @updated %>
	//fade out and remove modal
	$(".edit-product-overlay").fadeOut(function(){
		$(this).remove();
	});
	//replace old product with updated product
	$(".product-<%= @product.id %>").replaceWith("<%= j render @product %>");
<% end %>