<%= simple_form_for @employee.checkins.where("finish IS NULL").first, remote: true do |f| %>
	<%= f.hidden_field :employee_id, value: @employee.id %>
	<%= f.submit "Check Out", class: "purple-button" %>
<% end %>