<tr class="checkin-<%= checkin.id %> checkin">
	<td><%= checkin.created_at.strftime("%b %_d, %Y") %></td>
	<td class='start-time'>
		<%= checkin.created_at.strftime("%l:%M%P") %>

		<% if false %>
			<!-- comment out ability to change start time / finish time until functionality is complete -->
			<%= link_to raw("<i class='fa fa-clock-o'></i>"), change_start_time_checkin_path(checkin), remote: true %>
		<% end %>

	</td>
	<td class='finish-time'>
		<% unless checkin.finish.blank? %>
			<%= checkin.finish.strftime("%l:%M%P") %>

			<% if false %>
				<!-- comment out ability to change start time / finish time until functionality is complete -->
				<%= link_to raw("<i class='fa fa-clock-o'></i>"), change_finish_time_checkin_path(checkin), remote: true %>
			<% end %>

		<% else %>
			<div class='empty-cell'></div>
		<% end %>
	</td>
	<td>
		<% unless checkin.total.blank? %>
			<%= number_to_currency(checkin.total, precision: (checkin.total.round == checkin.total) ? 0 : 2) %>
		<% else %>
			<div class="empty-cell"></div>
		<% end %>
	</td>
</tr>