//add more checkins to checkin list
$("#timesheet").replaceWith("<%= j render 'employees/timesheet' %>");

var y = $(window).scrollTop();

$('html, body').animate({
	scrollTop: (y+<%= @height_difference * 49 %>)
}, 150);