<div id="header" class="<%= header_background %>">
	<%= link_to "I", root_path, class: "header-logo" %>

	<% if current_page?(root_path) %>
		<div class="header-links">
			<%= link_to 'Start Your Free Trial!', free_trial_path %>
			<%= link_to 'Sign In', signin_path %>
		</div>
	<% end %>
</div>