<div id="preloaded-categories" oncontextmenu="return false;">
	<% @categories.each do |category| %>
		<div class="checkout-category-name"><%= category.name %></div>

		<div class="checkout-product-list" id="category-<%= category.id %>-products">
			<% @products.where(category_id:category.id).by_sales.each_slice(3).with_index do |slice, i| %>
				<div class="checkout-product-row">
					<% slice.each do |product| %>
						<div class="item-box checkout-product-<%= product.id %>">
							<%= simple_form_for Item.new, remote: true do |f| %>
								<%= f.hidden_field :customer_id %>
								<%= f.hidden_field :product_id, value: product.id %>

								<%= button_tag(type: "submit", class: "checkout-product") do %>
									<% if product.img == nil || product.img == "" %>
										<div class="small-blank-image"></div>
									<% else %>
										<%= filepicker_image_tag product.img, fit: 'crop', w: 50, h: 50 %>
									<% end %>
									<div class="product-name"><%= product.name %></div>
									<div class="product-price"><%= number_to_currency(product.price, precision: (product.price.round == product.price) ? 0 : 2) %></div>

									<div style="clear:both;"></div>
								<% end %>
							<% end %>
						</div>

						<% if i == @products.where(category_id:category.id).count/3.ceil && slice.last==product %>
							<div class='item-box'>
								<div class='add-productless-item' id="category-<%= category.id %>">
									+ Add Item
								</div>
							</div>
						<% end %>
					<% end %>
					<div style="clear:both;"></div>
				</div>
			<% end %>
		</div>
	<% end %>
</div>