<div id="sidebar">
	<!-- Urgent orders -->
	<% if current_user.orders.urgent.any? %>
		<%= link_to urgent_path(current_user), class: "#{highlight(urgent_path(current_user))} urgent-link sidebar-link" do %>
			<i class='fa fa-exclamation-triangle'></i>
			<span>Urgent</span>
		<% end %>
	<% end %>

	<!-- Checkout -->
	<%= link_to root_path, class: "#{highlight(root_path)} sidebar-link root-link" do %>
		<i class='fa fa-search-plus'></i>
		<span>Search</span>
	<% end %>
	
	<!-- Rack -->
	<%= link_to rack_user_path(current_user), remote: true do %>
		<i class='fa fa-barcode'></i>
		<span>Rack</span>
	<% end %>
	
	<!-- Tag -->
	<%= link_to tag_user_path(current_user), remote: true do %>
		<i class='fa fa-tags'></i>
		<span>Tag</span>
	<% end %>
	
	<!-- Employees -->
	<%= link_to  user_employees_path(current_user), class: "#{highlight(user_employees_path(current_user))} sidebar-link" do %>
		<i class='fa fa-clock-o'></i>
		<span>Employees</span>
	<% end %>
	
	<!-- Analaytics -->
	<%= link_to user_analytics_path(current_user), class: "#{highlight(user_analytics_path(current_user))} sidebar-link" do %>
		<i class='fa fa-bar-chart-o'></i>
		<span>Analytics</span>
	<% end %>
	
	<!-- Products -->
	<%= link_to user_products_path(current_user), class: "#{highlight(user_products_path(current_user))} sidebar-link" do %>
		<i class='fa fa-bars'></i>
		<span>Products</span>
	<% end %>

	<!-- Tutorials -->
	<%= link_to user_tutorial_path, class: "#{highlight(user_tutorial_path)} sidebar-link" do %>
		<i class='fa fa-graduation-cap'></i>
		<span>Tutorials</span>
	<% end %>

	<!-- Settings -->
	<%= link_to edit_user_registration_path, class: "#{highlight(edit_user_registration_path)} sidebar-link" do %>
		<i class='fa fa-cog'></i>
		<span>Settings</span>
	<% end %>

	<!-- Sign out -->
	<%= link_to destroy_user_session_path, method: :delete, class: "signout-link" do %>
		<i class='fa fa-sign-out'></i>
		<span>Logout</span>
	<% end %>
</div>