<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "https://js.stripe.com/v2/", "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "logo.ico" %>
    <!-- scalable vector icons -->
    <%= render 'layouts/fontawesome' %>
    <!-- mixpanel javascript library' -->
    <%= render 'layouts/mixpanel' %>
    <!-- font families -->
    <%= render 'layouts/fonts' %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  </head>

  <body class="<%= body_background %>">

    <!-- filepicker js library for uploading images -->
    <%= filepicker_js_include_tag %>

    <% if params[:order_id] && !params[:paginate] %>
      <%= render 'orders/receipt' %>
      <script>
        $("#receipts").insertBefore("body");
        window.print();
      </script>
    <% end %>

    <!-- side navbar for users once signed in -->
    <% if user_signed_in? %>
      <%= render 'layouts/sidebar' %>
    <% end %>

    <%= render 'layouts/alert' %>

    <div id="yield-container" class="<%= full_width_container %>">
      <% if !user_signed_in? %>
        <%= render 'layouts/header' %>
      <% else %>
        <%= render 'layouts/back_to_top' %>
      <% end %>
      
      <%= yield %>
    </div>

    <div style="clear:both;"></div>

  </body>
</html>