<% provide(:title, "Settings") %>

<div class='page-header'>
  <div class='header-h1'>Settings</div>
  <ul class='page-header-links'>
    <!-- contact -->
    <li><%= render 'layouts/help_me' %></li>
  </ul>
</div>

<div class='inner-container'>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="form-column column-one">
      <%= f.input :name, placeholder: "Name", autofocus: true, required: false, input_html: {class: "default-input"} %>

      <%= f.input :phone, placeholder: "Phone", required: false, input_html: {class: "default-input"} %>

      <%= f.input :address, placeholder: "Address", required: false, input_html: {class: "default-input"} %>

      <%= f.input :turnaround_time, placeholder: "Turnaround time (days)", required: false, input_html: {class: "default-input"} %>
    </div>
  	
    <div class="form-column column-two">
      <%= f.input :email, placeholder: "Email", required: false, input_html: {class: "default-input"} %>

      <%= f.input :stripe_secret_key, placeholder: "Stripe Secret Key", input_html: {class: 'default-input'} %>

      <%= f.input :stripe_publishable_key, placeholder: "Stripe Publishable Key", input_html: {class: 'default-input'} %>
    </div>

    <div style='clear:both;'></div>

    <div class="sexy-divider signup-bottom-divider"></div>

    <span class='signup-footer'>
      <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure you want to leave? All your data will be deleted." }, method: :delete %>
    </span>
    
    <%= button_tag(type: "submit", class: "blue-button", data: {disable_with: raw("<i class='fa fa-spin fa-spinner'></i>")}) do %>
      Update
    <% end %>

    <div style='clear:both;'></div>
  <% end %>
</div>