<% provide(:title, "Start Your Free Trial") %>

<div class="signup-intro">
	<h1>Let's get started</h1>
	<p>Take Incrediclean for a test drive with your 3 day free trial - no card required.</p>
</div>


<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

	<div class="sexy-divider signup-top-divider"></div>

	<div class='form-column column-one'>
		<%= f.input :name, placeholder: 'Example Business', input_html: {class: 'default-input'}, label: 'Enter your business name', autofocus: true, autocomplete: "off", required: false %>

		<%= f.input :phone, placeholder: '(408) 489-9038', input_html: {class: 'default-input'}, label: 'Enter your business phone number', autocomplete: "off", required: false %>

		<%= f.input :email, placeholder: 'you@example.com', input_html: {class: 'default-input'}, label: 'Enter your email', autocomplete: "off", required: false %>
	</div>

	<div class='form-column column-two'>
		<%= f.input :address, placeholder: '123 Example Street, Sunnyvale', input_html: {class: 'default-input'}, label: 'Enter your business address', autocomplete: "off", required: false %>

		<%= f.input :turnaround_time, placeholder: '3', input_html: {class: 'default-input'}, label: 'Enter your turnaround time (days)', autocomplete: "off", required: false %>

		<%= f.input :password, placeholder: 'Password', input_html: {class: 'default-input'}, label: 'Enter your password', autocomplete: "off", required: false %>
	</div>

	<div style='clear:both;'></div>

	<div class="sexy-divider signup-bottom-divider"></div>

	<span class='signup-footer'>
		Already have an account? <%= link_to 'Sign in here.', signin_path %>
	</span>

	<%= f.submit "Create Account", class: "blue-button" %>
<% end %>






<% if false %>
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

		<div id="stripe_error">
	    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
	  </div>

	  <%= f.input :plan_id, class: "hide" %>

	  <%= devise_error_messages! %>

	  <div class='choose-plan'>
	  	<div class='monthly-plan selected'>
	  		<div class="plan-header">$60 Monthly</div>
	  		$60 / month
	  	</div>
	  	<div class='yearly-plan'>
	  		<div class="plan-header">$600 Yearly</div>
	  		$50 / month
	  	</div>

	  	<div style="clear:both;"></div>
	  </div>

		<div class='form-section'>
			<label><span>001</span> Business Info</label>
			<%= f.input :name, placeholder: "Name", autofocus: true %>

			<%= f.input :phone, placeholder: "Phone" %>

		 	<%= f.input :address, placeholder: "Address" %>

		 	<%= f.input :city, placeholder: "City" %>
		</div>

		<div class='form-section'>
			<label><span>002</span> Payment Info</label>
			<%= f.hidden_field :stripe_card_token %>

		  <%= input_tag :card_number, nil, name: nil, class: "default-input", placeholder: "Card Number" %>

		  <%= input_tag :card_month, nil, name: nil, class: "default-input", placeholder: "Month (01)" %>
		  <%= input_tag :card_year, nil, name: nil, class: "default-input", placeholder: "Year (2016)" %>

		  <div style='clear:both;'></div>
		</div>

		<div class='form-section'> 	
			<label><span>003</span> Account Info</label>
			<%= f.email_field :email, placeholder: "Email" %>

		  <%= f.password_field :password, autocomplete: "off", placeholder: "Password (#{@minimum_password_length if @validatable} characters minimum)" %>

		  <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation" %>

		  <%= button_tag(type: "submit", class: "green-button", data: {disable_with: raw("<i class='fa fa-spin fa-spinner'></i>")}) do %>
		    Start Your Trial
		  <% end %>
		</div>

	<% end %>

	<script>
	$(document).ready(function(){
		//mixpanel tracking for homepage
		mixpanel.track("land on signup page (v1)");
	});
	</script>
<% end %>